<div class="campaign">
  <div class="row">
    <div class="col-lg-7 clearfix">
      <h2 class="section-header">Quản lý tài khoản nội bộ</h2>
    </div>
    <div class="col-md-12">
      <div class="panel panel-default panel-minimal">
        <div class="panel-body">
          <md-button class="md-fab btn-add-new" aria-label="Eat cake" ng-click="vm.goPermissionAdd()">
            <md-icon>add</md-icon>
          </md-button>
          <div layout-wrap flex layout-align="end none">
            <md-button class="md-raised" ng-click="vm.goGrant()">Phân quyền</md-button>
          </div>
          <div class="table-responsive">
            <table class="table table-responsive no-margin tb-adsgo table-hover">
              <thead>
              <tr>
                <th>STT</th>
                <th>Tên đăng nhập</th>
                <th>Tên người dùng</th>
                <th>Email</th>
                <th>Điện thoại</th>
                <th>Vai trò</th>
                <th>Tùy chỉnh</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="(key, cp) in vm.listAccounts">
                <td>{{(vm.page - 1)* vm.pageItems + key + 1}}</td>
                <td>{{cp.username}}</td>
                <td>{{cp.name}}</td>
                <td>{{cp.email}}</td>
                <td>{{cp.sdt}}</td>
                <td>{{cp.vaiTroStr}}</td>
                <td>
                  <md-button class="md-icon-button md-primary" aria-label="edit" ng-click="vm.goEditAccount(cp.id)">
                    <md-icon class="fa fa-pencil-square-o"></md-icon>
                  </md-button>
                  <md-button class="md-icon-button md-primary" aria-label="delete">
                    <md-icon class="fa fa-trash-o" ng-click="vm.deleteAccount(cp.id)"></md-icon>
                  </md-button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          
          <div class="row">
            <p class="col-md-4">Tất cả: {{vm.countAllItem}} tài khoản</p>
            <pagination class="col-md-8" total-element="vm.countAllItem" on-page-change="vm.changePage(page)" on-change-num-item="vm.changeItemPerPage(itemPerPage)"></pagination>
          </div>
        
        </div>
      </div>
    </div>
  </div>
</div>


