<div class="car-add">
  <h3 class="section-header">
    Thêm thông tin tài xế
  </h3>
  <form name="myForm" novalidate ng-submit="myForm.$valid && vm.addDriver()">
    <div class="panel panel-defauld panel-minimal">
      <div class="panel-body row">
        <div class="col-md-5 input-block">
          <md-input-container class="md-block">
            <label>Tên tài xế</label>
            <input type="text" name="tenTaiXe" required ng-model="vm.driver.tenTaiXe" 
              required minlength="3" md-maxlength="50">
            <div ng-messages="myForm.tenTaiXe.$error">
              <div ng-message="required">Vui lòng nhập tên tài xế!</div>
              <div ng-message="minlength">Tên tối thiểu 3 kí tự!</div>
              <div ng-message="md-maxlength">Tên không vượt quá 50 kí tự!</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Điện thoại</label>
            <input type="text" ng-keypress="vm.preventNumberInput($event)" name="sdt" required minlength="10" maxlength="11" ng-model="vm.driver.sdt" required>
            <div ng-messages="myForm.sdt.$error">
              <div ng-message="required">Vui lòng nhập số điện thoại!</div>
              <div ng-message="minlength">Sđt tối thiểu 10 số!</div>
              <div ng-message="maxlength">Sđt tối đa 11 số!</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>CMND</label>
            <input type="text" name="cmnd" ng-model="vm.driver.cmnd" minlength="9" required  maxlength="12">
            <div ng-messages="myForm.cmnd.$error">
              <div ng-message="required">Vui lòng nhập số  chứng minh nhân dân!</div>
              <div ng-message="minlength">Tối thiểu là 9 số</div>
              <div ng-message="maxlength">Tối đa là 12 số</div>
            </div>
          </md-input-container>
          <span>Ghi chú: Mật khẩu được tạo theo CMND</span>
        </div>
        <section class="col-md-12">
          <md-button class="md-raised" ng-click="vm.goDriverView()">Hủy</md-button>
          <md-button class="md-raised md-primary" type="submit">Lưu</md-button>
        </section>
      </div>
    </div>
  </form>
</div>