@import '~themes/app.variables';

#layout-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  .expand-menu, .collapse-menu {
    position: absolute;
    top: 20px;
    background-color: #252432;
    border-radius: 0 50% 50% 0;
    color: $menuItemColor;
    width: auto;
    height: auto;
    &.material-icons {
      color: inherit;
      font-size: 30px;
    }
  }
  .expand-menu:hover, .collapse-menu:hover {
    color: $white;
  }
  .collapse-menu {
    margin-left: 25px;
  }
  .expand-menu {
    margin-left: 95px;
  }
  md-content {
    height: 100%;
    background-color: transparent;
    color: $menuItemColor;
    text-align: center;
    overflow: hidden;
    md-list {
      height: 100%;
      background-color: #252432;
      padding: 0px;
      md-list-item {
        padding: 0 30px;
        height: 55px;
        cursor: pointer;
        &.active {
          background-color: $red145;
          color: $white;
        }
        .icon-background {
          background: url('~statics/img/aia-logo.png') no-repeat center center;
          cursor: pointer;
          background-size: contain;
          align-items: center;
          flex: 1;
        }
        .material-icons {
          color: inherit;
          font-size: 20px;
        }
        span {
          padding-left: 10px;
        }
      }
      md-list-item:not(.active):hover {
        color: $white;
      }
      md-list-item:first-child {
        height: 65px;
        padding: 0;
      }
      md-list-item:last-child {
        position: absolute;
        width: 100%;
        bottom: 0;
      }
    }
  }
}
