<div id="layout-menu" ng-class="vm.isExpand ? 'flex-menu' : 'flex-menu-collapse'">
  <md-content>
    <md-list>
      <md-list-item flex layout-align="center center" class="auto-margin">
        <div flex class="full-height" layout="row" layout-align="center center" ng-click="vm.goToHomePage()">
          <div flex class="icon-background"></div>
        </div>
        <md-icon ng-if="!vm.isExpand" class="collapse-menu" ng-click="vm.expandMenu()">chevron_right</md-icon>
        <md-icon ng-if="vm.isExpand" class="expand-menu" ng-click="vm.collapseMenu()">chevron_left</md-icon>
      </md-list-item>
      <md-list-item class="active">
        <div class="md-list-item-text" layout="row" layout-align="start center">
          <i class="material-icons">desktop_windows</i>
          <span>{{'header.elearning.title' | translate}}</span>
        </div>
      </md-list-item>
      <md-list-item>
        <div class="md-list-item-text" layout="row" layout-align="start center">
          <i class="material-icons">forum</i>
          <span>{{'header.forum.title' | translate}}</span>
        </div>
      </md-list-item>
      <md-list-item>
        <div class="md-list-item-text" layout="row" layout-align="start center">
          <i class="material-icons">vpn_lock</i>
          <span>{{'header.personal.title' | translate}}</span>
        </div>
      </md-list-item>
      <md-list-item>
        <div class="md-list-item-text" layout="row" layout-align="start center">
          <i class="material-icons">account_box</i>
          <span>{{'header.profile.title' | translate}}</span>
        </div>
      </md-list-item>
      <md-list-item>
        <div class="md-list-item-text" layout="row" layout-align="start center" ng-click="vm.logout()">
          <i class="material-icons">power_settings_new</i>
          <span>{{'header.logout.title' | translate}}</span>
        </div>
      </md-list-item>
    </md-list>
  </md-content>
</div>
