.no-color {
  background-color: inherit;
}

.no-color a {
  color: white;
}

.header-color {
  background-color: #d31145 !important;
}

.material-icons {
  color: white;
  font-size: 35px;
}

.header img {
  height: 44px;
  width: 105px;
  cursor: pointer;
}
 

 /*# sourceMappingURL= header.css.map */