@import '~themes/app.variables.scss';


.page-content {
  padding-bottom: 60px;
  background-color: $whiteF3;
}



//
////new design
.header-top{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
md-toolbar.app-nav-bar{
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
  background-color: white;
  color: red;
}
.main .logo{
  background: $primary;
  img{
    width: 45%;
  }
}
//.nav-collapsed-min{
//  img{
//    width: 100%;
//  }
//}
.header-menu{
  background-color: $white;
  margin-bottom: 0;
  .badge.bg-warning{
    background: #FCB322;
  }
}
.site-footer{
  background: #5b6e84;
  color: #fff;
  padding: 10px 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
#sidebar{
  background-color: $gray42;
  display: block;
  height: 100%;
  width: 210px;
  position: fixed;
  z-index: 2;
  ul.sidebar-menu{
    padding-left: 0;
    li{
      margin: 5px 10px 0 10px;
      a{
        color: $whiteB7;
        text-decoration: none;
        display: block;
        padding: 15px 0 15px 10px;
        font-size: 12px;
        outline: none;
        i{
          font-size: 15px;
          padding-right: 6px;
        }
      }
    }
  }
}
md-sidenav{
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.md-toolbar-tools{
  display: inline-block;
  line-height: 64px;
  i{
    margin-right: 10px;
    -webkit-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
  }

}
.nav-collapsed-min {
  md-sidenav{
    width: 60px !important;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  .md-toolbar-tools{
    font-size: 0;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
}

