<div class="car-add">
  <h3 class="section-header">
    Chỉnh sửa tài khoản nội bộ
  </h3>
  <form name="myForm" novalidate ng-submit="myForm.$valid && vm.submit()">
    <div class="panel panel-defauld panel-minimal">
      <div class="pannel-body row">
        <div class="col-md-7">
          <md-input-container class="md-block">
            <label>Tên đăng nhập</label>
            <input name="nameLogin" required minlength="6" md-maxlength="50" ng-model='vm.data.nameLogin'>
            <div ng-messages="myForm.nameLogin.$error">
              <div ng-message="required">Vui lòng nhập tên đăng nhập!</div>
              <div ng-message="minlength">Tên đăng nhập tối thiểu 6 kí tự!</div>
              <div ng-message="md-maxlength">Tên đăng nhập không vượt quá 50 kí tự!</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Tên người dùng</label>
            <input name="userName" ng-model="vm.data.userName" required minlength="8" md-maxlength="50" ng-trim="false">
            <div ng-messages="myForm.userName.$error">
              <div ng-message="required">Vui lòng nhập tên người dùng!</div>
              <div ng-message="minlength">Tên người dùng tối thiểu 8 kí tự!</div>
              <div ng-message="md-maxlength">Tên người dùng không vượt quá 50 kí tự!</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Email</label>
            <input name="email" ng-model='vm.data.email' required type="email">
            <div ng-messages="myForm.email.$error">
              <div ng-message="required">Vui lòng nhập email!</div>
              <div ng-message="email">Email không hợp lệ</div>
            </div>
          </md-input-container>
          <md-input-container class="input-full" ng-class="{'has-error': myForm.numberPhone.$error.number}">
            <label>Điện thoại</label>
            <input name="numberPhone" ng-model='vm.data.numberPhone' ng-minlength="10" ng-maxlength="11" required type="text" ng-keypress="vm.preventNumberInput($event)">
            <div ng-messages="myForm.numberPhone.$error">
              <div ng-message="required">Vui lòng nhập số điện thoại!</div>
              <div ng-message="number">Vui lòng ký tự số</div>
              <div ng-message="minlength">Tối thiểu 10 chữ số</div>
              <div ng-message="maxlength">Tối đa 11 chữ số</div>
            </div>
          </md-input-container>
          <md-input-container class="input-full">
            <label>Vai trò</label>
            <md-select ng-model="vm.data.role" name="role" md-selected-text="vm.getSelectedRole()" required>
              <md-option ng-value="item" ng-repeat="item in vm.listRole">
                {{item['name']}}
              </md-option>
            </md-select>
            <div ng-messages="myForm.role.$error">
              <div ng-message="required">Vui lòng chọn vai trò!</div>
            </div>
          </md-input-container>
          <md-input-container class="input-full">
            <label>Tạo mật khẩu</label>
            <input name="newPassword" ng-model='vm.data.newPassword' 
              ng-minlength="8" 
              ng-maxlength="50" type="password"
              >
            <div ng-messages="myForm.confirmPassword.$error">
              <div ng-message="required">Vui lòng nhập password</div>
              <div ng-message="minlength">Tối thiểu 8 ký tự</div>
              <div ng-message="maxlength">Tối đa 50 ký tự</div>
      
            </div>
          </md-input-container>
          <md-input-container class="input-full">
            <label>Nhập lại mật khẩu</label>
            <input name="confirmPassword" ng-model='vm.data.confirmPassword' 
              ng-minlength="8" 
              ng-maxlength="50" 
              type="password" 
              ng-pattern="vm.data.newPassword"
              ng-required="vm.data.newPassword"
              ng-disabled="!vm.data.newPassword"
            >
            <div ng-messages="myForm.confirmPassword.$error">
              <div ng-message="required">Vui lòng nhập password!</div>
              <div ng-message="pattern">Password không trùng!</div>
            </div>
          </md-input-container>
        </div>
        <section class="col-md-12">
          <md-button class="md-raised" ng-click="vm.goPermissionView()">Hủy</md-button>
          <md-button class="md-raised md-primary" type="submit">Lưu</md-button>
        </section>
      </div>
    </div>
  </form>
</div>