<div class="campaign">
  <div class="row">
    <div class="col-lg-7 clearfix">
      <h2 class="section-header">Gửi yêu cầu: {{vm.imageReport.tenChienDich}}</h2>
    </div>
    <div class="col-md-12">
      <div class="panel panel-default panel-minimal">
        <div class="panel-body">
          <div layout-wrap layout="row">
            <div layout="row" flex="90">
              <md-input-container class="md-block">
                <label>Nhập tên/số xe</label>
                <input ng-model="vm.pagingConfig.filterBienKiemSoat">
              </md-input-container>
              <md-input-container class="md-block">
                <label>Tình trạng</label>
                <md-select ng-model="vm.pagingConfig.filterTinhTrang" name="tinhtrang">
                  <md-option ng-value="">--Tất cả--</md-option>
                  <md-option ng-value="item" ng-repeat="item in vm.listSTT">{{item}}</md-option>
                </md-select>
              </md-input-container>
            </div>
            <div layout-wrap flex layout-align="end none">
              <md-button class="md-raised" ng-click="vm.applyFilter()">Tìm kiếm</md-button>
            </div>
          </div>

          <!-- <div class="table-responsive">
            <table class="table table-responsive no-margin tb-adsgo table-hover">
              <thead>
              <tr>
                <th>STT</th>
                <th>Tên tài xế</th>
                <th>Số Xe</th>
                <th>Số quản lý</th>
                <th>Bãi xe</th>
                <th>Điện thoại</th>
                <th>Tình trạng</th>
                <th>Số lần yêu cầu báo cáo</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="rp in vm.litImageReportDetail">
                <td>{{}}</td>
                <td>Nguyễn Văn Anh</td>
                <td>59-T1-9999</td>
                <td>9876</td>
                <td>04 Lê Duẩn</td>
                <td>0909888763</td>
                <td>Chưa có ảnh</td>
                <td>2</td>
              </tr>
              </tbody>
            </table>
          </div> -->

          <!--<div class="row">-->
            <!--<p class="col-md-4">Tất cả: {{vm.countAllItem}} xe</p>-->
            <!--<pagination class="col-md-8" total-element="vm.countAllItem" on-page-change="vm.changePage(page)" on-change-num-item="vm.changeItemPerPage(itemPerPage)"></pagination>-->
          <!--</div>-->


          <div class="table-responsive">
            <md-table-container>
              <table md-table md-row-select="true" multiple="true" ng-model="vm.selectedCars" ng-change="vm.selected()" class="tb-adsgo">
                <thead md-head md-order="myOrder">
                <tr md-row>
                  <th class="checkbox-all">
                      <md-checkbox aria-label="Checkbox 1" ng-model="vm.isSelectAllCars" ng-change="vm.selectAllCars()">
                      </md-checkbox>
                  </th>
                  <th md-column>STT</th>
                  <th md-column md-order-by="tenChienDich">Tên tài xế</th>
                  <th md-column md-order-by="bienKiemSoat">Số Xe</th>
                  <th md-column md-order-by="soQuanLy">Số quản lý</th>
                  <th md-column md-order-by="baiXe">Bãi xe</th>
                  <th md-column md-order-by="sdt">Điện thoại</th>
                  <th md-column md-order-by="trangThaiReport">Tình trạng</th>
                  <th md-column md-order-by="soLanYeuCau">Số lần yêu cầu báo cáo</th>
                </tr>
                </thead>
                <tbody>
                <tr md-row md-select="report.bienKiemSoat" md-select-id="bienKiemSoat" ng-repeat="report in vm.litImageReportDetail | orderBy: myOrder | filter: vm.pagingConfig.filterBienKiemSoat | filter: vm.pagingConfig.filterTinhTrang | limitTo: vm.pagingConfig.limit : (vm.pagingConfig.page -1) * vm.pagingConfig.limit">
                  <td md-cell>{{(vm.pagingConfig.page - 1 ) * vm.pagingConfig.limit + $index + 1}}</td>
                  <td md-cell>{{report.tenChienDich}}</td>
                  <td md-cell>{{report.bienKiemSoat}}</td>
                  <td md-cell>{{report.soQuanLy}}</td>
                  <td md-cell>{{report.baiXe}}</td>
                  <td md-cell>{{report.sdt}}</td>
                  <td md-cell>{{report.trangThaiReport}}</td>
                  <td md-cell>{{report.soLanYeuCau}} lần</td>
                </tr>
                </tbody>
              </table>
            </md-table-container>
          </div>
          <br><br>
          <div class="row">
            <p class="col-md-4">Tất cả: {{vm.litImageReportDetail.length}} yêu cầu</p>
            <md-table-pagination md-limit="vm.pagingConfig.limit" md-limit-options="[20, 50, 100]" md-page="vm.pagingConfig.page" md-total="{{(vm.litImageReportDetail | filter: vm.pagingConfig.filterBienKiemSoat | filter: vm.pagingConfig.filterTinhTrang).length}}"
                md-page-select md-label="{ page: 'Trang', rowsPerPage: 'Số dòng mỗi trang', of: 'của' }"></md-table-pagination>
          </div>
          <md-button class="btn-adsgo" ng-click="vm.sendRequest()">Gửi yêu cầu</md-button>
        </div>
      </div>

    </div>
  </div>
</div>


