@import '~themes/app.variables.scss';

table.md-table th.md-column, table.md-table td.md-cell {
    font-size: 14px;
}
table.md-table.md-row-select td.md-cell:nth-child(n+3):nth-last-child(n+2),
table.md-table.md-row-select th.md-column:nth-child(n+3):nth-last-child(n+2) {
    padding: 0 15px 0 0;
}
.md-icon-button {
    padding: 0px;
    width: 27px !important;
}
