@import '~themes/app.variables.scss';
.circular-progress-button {
    height: 36px;
}

.circular-progress-button>md-progress-circular {
    margin: auto;
    margin-top: -6px; /* If circular does not appear at the center, change this value. */
}
.message-upload {
    margin-top: 16px;
    margin-left: 13px;
}

