<section layout="row" layout-align="left left" layout-wrap >
    <md-button class="md-raised circular-progress-button md-warn" type="file" 
        ngf-select="" accept=".xls,.csv,.xlsx" ng-model="vm.filecsv" ngf-pattern="'.xls,.csv,.xlsx'" 
        ng-change="vm.onChange()">
        <md-icon class="material-icons">attach_file</md-icon>    
    </md-button>
    <md-progress-circular md-diameter="45" md-mode="determinate" 
        ng-show="vm.filecsv.progress >= 0" value="{{vm.filecsv.progress}}">hello
    </md-progress-circular>
    <!--
    <md-progress-circular style="text-align: center" md-diameter="30" md-mode="determinate" ng-show="vm.filecsv.progress >= 0" value="{{vm.filecsv.progress}}"></md-progress-circular>
    <md-button class="md-icon-button" aria-label="More" 
        ng-show="vm.filecsv.result === 500 && vm.filecsv.progress >= 0 && vm.filecsv.progress < 100"
        ng-click="vm.stopUpload()">
        <i class="material-icons">clear</i>
    </md-button>
    -->
    <label ng-show="vm.filecsv.result === 500" class="message-upload" style="color: red">Failed</label>
    <label ng-show="vm.filecsv.result === 200" class="message-upload" style="color: green">Upload successfully</label>
</section>



    

