<md-dialog class="image-report" aria-label="image-report">
    <form ng-cloak>
      <md-dialog-content class="image-report-content">
          <div class="row">
            <div class="col-md-7 top-content">
                <h3>Tên công ty: {{vm.showingReport.tenCongTy}}</h3>
                <h4>  Loại quảng cáo: {{vm.showingReport.loaiQuangCao}}</h4>
                <h4>Ngày tạo: {{vm.showingReport.ngayTao}}</h4>
            </div>
            <div class="col-md-4 top-content pull-right">
              <div class="right-item">
                <h4>Số lượng xe yêu cầu</h4>
                <h3>{{vm.showingReport.soLuongXe}} xe</h3>
              </div>
            </div>
          </div>
          <div class="row">
              <h4>Ghi chú:</h4>
              <textarea ng-model="vm.showingReport.ghiChu" class="form-control" rows="3" placeholder="Nhập nội dung ghi chú" readonly></textarea>
              <h4>Phản hồi:</h4>
              <textarea ng-model="vm.showingReport.phanHoi" class="form-control" rows="3" placeholder="Nhập nội dung phản hồi" ></textarea>
          </div>
      </md-dialog-content>
  
      <md-dialog-actions class="image-report-action" layout="row">
        <md-button class="md-raised" ng-disabled="vm.showingReport.tinhTrang !== vm.IMAGE_REQUEST_STT.CHO_DUYET" ng-click="vm.rejectRequest()">
         Từ Chối Yêu Cầu
        </md-button>
        <md-button class="md-raised accept-button" ng-disabled="vm.showingReport.tinhTrang !== vm.IMAGE_REQUEST_STT.CHO_DUYET" ng-click="vm.approveRequest(true)">
          Duyệt Yêu Cầu
        </md-button>
      </md-dialog-actions>
    </form>
  </md-dialog>