@import '~themes/app.variables.scss';

.right-item {
    border: 1px solid #aaa;
    border-radius: 4px;
}
.image-report, .image-report-content, .image-report > form {
    width: 100%;
    height: 100%;
}
md-dialog-content {
    padding: 30px;
}
.image-report-action {
    padding: 10px 30px 20px !important;
}
.top-content {
    padding: 0px;
}
.row {
    margin: 0px;
}
.right-item {
    text-align: center;
}
.accept-button {
    background: $primary !important;
    color: white !important;
}
.accept-button:disabled {
    background: gray !important;
}
table.md-table th.md-column, table.md-table td.md-cell {
    font-size: 14px;
}
table.md-table:not(.md-row-select) td.md-cell:nth-child(n+2):nth-last-child(n+2),
table.md-table:not(.md-row-select) th.md-column:nth-child(n+2):nth-last-child(n+2) {
    padding: 0 15px 0 0;
}
.md-icon-button {
    padding: 0px;
    width: 27px !important;
}