<div class="campaign">
  <div class="row">
    <div class="col-lg-7 clearfix">
      <h2 class="section-header">Quản lý yêu cầu hình</h2>
    </div>
    <div class="col-md-12">
      <div class="panel panel-default panel-minimal">
        <div class="panel-body">
          <md-button class="md-fab btn-add-new" aria-label="Eat cake" ng-click="vm.goAddImageRequest()">
            <md-icon>add</md-icon>
          </md-button>
          <div layout-wrap layout="row">
            <div layout="row" flex="80">
              <md-input-container class="md-block">
                  <label>Khách hàng</label>
                  <md-select ng-model="vm.pagingConfig.filterKhachHang" name="kh">
                    <md-option ng-value="">--Tất cả--</md-option>
                    <md-option ng-value="item" ng-repeat="item in vm.listKH">{{item}}</md-option>
                  </md-select>
                  <div ng-messages="myForm.kh.$error">
                    <div ng-message="required">Vui lòng chọn khách hàng!</div>
                  </div>
                </md-input-container>
              <md-input-container class="md-block">
                <label>Chiến dịch</label>
                <md-select ng-model="vm.pagingConfig.filterChienDich"
                           ng-change="vm.applyFilter()" name="chiendich">
                  <md-option ng-value="">--Tất cả--</md-option>
                  <md-option ng-value="item" ng-repeat="item in vm.listCD">{{item}}</md-option>
                </md-select>
              </md-input-container>
              <md-input-container class="md-block">
                <label>Tình trạng</label>
                <md-select ng-model="vm.pagingConfig.filterTinhTrang" ng-change="vm.applyFilter()" name="tinhtrang">
                  <md-option ng-value="">--Tất cả--</md-option>
                  <md-option ng-value="item" ng-repeat="item in vm.listSTT">{{item}}</md-option>
                </md-select>
              </md-input-container>
            </div>
            <div layout-wrap flex layout-align="end none">
              <md-button class="md-raised" ng-click="vm.applyFilter()">Áp dụng</md-button>
            </div>
          </div>

          <div class="table-responsive">
            <md-table-container>
              <table md-table class="table table-responsive no-margin tb-adsgo table-hover">
                <thead md-head md-order="myOrder">
                <tr>
                  <th>STT</th>
                  <th md-column md-order-by="tenCongTy">Tên công ty</th>
                  <th md-column md-order-by="tenChienDich">Chiến dịch</th>
                  <th md-column md-order-by="loaiQuangCao">Loại quảng cáo</th>
                  <th md-column md-order-by="nguoiTao">Người tạo</th>
                  <th md-column md-order-by="ngayTao">Ngày tạo</th>
                  <th md-column md-order-by="nguoiDuyet">Người duyệt</th>
                  <th md-column md-order-by="ngayDuyet">Ngày duyệt</th>
                  <th>Tùy chỉnh</th>
                  <th md-column md-order-by="tinhTrang">Nhãn</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="report in vm.listImageReports | orderBy: myOrder | filter: vm.pagingConfig.filterKhachHang | filter: vm.pagingConfig.filterChienDich | filter: vm.pagingConfig.filterTinhTrang | limitTo: vm.pagingConfig.limit : (vm.pagingConfig.page -1) * vm.pagingConfig.limit">
                  <td md-cell>{{(vm.pagingConfig.page - 1 ) * vm.pagingConfig.limit + $index + 1}}</td>
                  <td md-cell>{{report.tenCongTy}}</td>
                  <td md-cell>{{report.tenChienDich}}</td>
                  <td md-cell>{{report.loaiQuangCao}}</td>
                  <td md-cell>{{report.nguoiTao}}</td>
                  <td md-cell>{{report.ngayTao}}</td>
                  <td md-cell>{{report.nguoiDuyet}}</td>
                  <td md-cell>{{report.ngayDuyet}}</td>
                  <td>
                    <div style="display: block; width: 130px;">
                      <md-button class="md-icon-button md-primary" aria-label="edit" ng-click="vm.showCustom($event, report)">
                          <md-icon class="fa fa-eye"></md-icon>
                        </md-button>
                        <md-button ng-disabled="report.tinhTrang !== vm.IMAGE_REQUEST_STT.DANG_TIEN_HANH" class="md-icon-button md-primary" aria-label="edit" ng-click="vm.goToRequest(report.id)">
                          <md-icon class="fa fa-bell-o"></md-icon>
                        </md-button>
                        <md-button ng-disabled="report.tinhTrang === vm.IMAGE_REQUEST_STT.TU_CHOI || report.tinhTrang === vm.IMAGE_REQUEST_STT.CHO_DUYET" class="md-icon-button md-primary" aria-label="edit" ng-click="vm.goToControl(report.id)">
                          <md-icon class="fa fa-cog"></md-icon>
                        </md-button>
                    </div>
                  </td>
                  <td>
                    <!-- <span class="label label-success">đang xử lý</span> -->
                    <span ng-if="report.tinhTrang === vm.IMAGE_REQUEST_STT.CHO_DUYET" class="label lable-status label-warning">{{report.tinhTrang}}</span>
                    <span ng-if="report.tinhTrang === vm.IMAGE_REQUEST_STT.DANG_TIEN_HANH" class="label lable-status label-success">{{report.tinhTrang}}</span>
                    <span ng-if="report.tinhTrang === vm.IMAGE_REQUEST_STT.HOAN_THANH" class="label lable-status label-info">{{report.tinhTrang}}</span>
                    <span ng-if="report.tinhTrang === vm.IMAGE_REQUEST_STT.TU_CHOI" class="label lable-status label-danger">{{report.tinhTrang}}</span>
                  </td>
                </tr>
                </tbody>
              </table>
            </md-table-container>
          </div>
          <br>
          <div class="row">
            <p class="col-md-4">Tất cả: {{vm.listImageReports.length}} yêu cầu</p>
            <md-table-pagination md-limit="vm.pagingConfig.limit" md-limit-options="[20, 50, 100]" md-page="vm.pagingConfig.page" md-total="{{(vm.listImageReports | filter: vm.pagingConfig.filterTinhTrang).length}}"
                md-page-select md-label="{ page: 'Trang', rowsPerPage: 'Số dòng mỗi trang', of: 'của' }"></md-table-pagination>
          </div>

        </div>
      </div>
      <span class="label label-success">Đang tiến hành</span>
      <span class="label label-warning">Chờ duyệt</span>
      <span class="label label-info">Hoàn thành</span>
      <span class="label label-danger">Từ chối</span>

    </div>
  </div>
</div>


