<div class="car-add">
  <h3 class="section-header">
    Thêm thông tin xe hệ thống
  </h3>
  <form name="myForm" novalidate ng-submit="myForm.$valid && vm.addNewCar()">
    <div class="panel panel-defauld panel-minimal">
      <div class="panel-body row">
        <div class="col-md-7">
          <md-input-container class="md-block">
            <label>Biển số xe</label>
            <input name="BienSoXe" required minlength="3" md-maxlength="15" ng-model='vm.car.bienKiemSoat'>
            <div ng-messages="myForm.BienSoXe.$error">
              <div ng-message="required">Vui lòng nhập biển số xe!</div>
              <div ng-message="minlength">Biển số tối thiểu 3 kí tự!</div>
              <div ng-message="md-maxlength">Biển số không vượt quá 15 kí tự!</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Số tài</label>
            <input  name="SoTai" ng-model="vm.car.soQuanLy">
          </md-input-container>
          <md-input-container class="md-block">
            <label>Bãi xe</label>
            <input name="BaiXe" ng-model='vm.car.baiXe' required minlength="1" md-maxlength="50">
            <div ng-messages="myForm.BaiXe.$error">
              <div ng-message="required">Vui lòng nhập bãi xe!</div>
              <div ng-message="minlength">Bãi xe tối thiểu 1 kí tự!</div>
              <div ng-message="md-maxlength">Bãi xe không vượt quá 10 kí tự!</div>
            </div>
          </md-input-container>
          <md-input-container class="input-full">
            <label>Thành Phố</label>
            <md-select ng-model="vm.car.thanhPho" name="ThanhPho" required>
              <md-option ng-repeat="city in vm.citys" value="{{city}}">
                {{city}}
              </md-option>
            </md-select>
            <div ng-messages="myForm.ThanhPho.$error">
              <div ng-message="required">Vui lòng chọn thành phố!</div>
            </div>
          </md-input-container>
          <md-input-container class="input-full">
            <label>Loại Xe</label>
            <md-select ng-model="vm.car.soCho" name="LoaiXe" required>
              <md-option ng-repeat="loaiXe in vm.listLoaiXe" value="{{loaiXe}}">
                {{loaiXe}}
              </md-option>
            </md-select>
            <div ng-messages="myForm.LoaiXe.$error">
              <div ng-message="required">Vui lòng chọn số chỗ!</div>
            </div>
          </md-input-container>
          <md-input-container class="input-full">
            <label>Dòng Xe</label>
            <md-select ng-model="vm.car.dongXe" name="DongXe" required>
              <md-option ng-repeat="dongXe in vm.listDongXe" value="{{dongXe}}">
                {{dongXe}}
              </md-option>
            </md-select>
            <div ng-messages="myForm.DongXe.$error">
              <div ng-message="required">Vui lòng chọn dòng xe!</div>
            </div>
          </md-input-container>
          <md-input-container class="input-full">
            <label>Hãng & model</label>
            <md-select ng-model="vm.car.loaiXe" name="HangModel" required>
              <md-option ng-repeat="hangModel in vm.listHangModel" value="{{hangModel}}">
                {{hangModel}}
              </md-option>
            </md-select>
            <div ng-messages="myForm.HangModel.$error">
              <div ng-message="required">Vui lòng chọn hãng model!</div>
            </div>
          </md-input-container>
        </div>
        <section class="col-md-12">
          <md-button class="md-raised" ng-click="vm.goCarView()">Hủy</md-button>
          <md-button class="md-raised md-primary" type="submit">Lưu</md-button>
        </section>
      </div>
    </div>
  </form>
</div>
