md-input-container {
    margin-right: 10px; 
}

.button {
    -moz-appearance: button;
    /* Firefox */
    -webkit-appearance: button;
    /* Safari and Chrome */
    padding: 10px;
    margin: 10px;
    width: 70px;
}
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    /* width: 200px; */
    height: 100%;
    text-align: center;
    /* padding-top: 25px; */
    margin: 10px;
}
.dragover {
    border: 5px dashed blue;
}

md-grid-list {
    margin: 8px; 
}
  
.md-card-image {
    width: 100%;
    height: 110px;
    /* overflow: hidden; */
}
 
md-card-title {
    padding: 0px !important;
}

label {
    display: inline-block !important;
    max-width: 100% !important;
    margin-bottom: 5px !important;
    font-weight: 0 !important;
}

.ng-invalid.ng-dirty {
    border-color: #FA787E;
}

.ng-valid.ng-dirty {
    border-color: #787A89;
}

md-progress-circular {
    margin-bottom: 20px; 
}
  
#loaders > md-switch {
    margin: 0;
    margin-left: 10px;
    margin-top: -10px; 
}
  
#loaders > h5 {
    margin-top: 0; 
}
  
#loaders > p {
    margin-right: 20px;
    margin-bottom: 24px; 
}
  
p.small {
    font-size: 0.8em;
    margin-top: -18px; 
}
  
hr {
    width: 100%;
    margin-top: 20px;
    border-color: rgba(221, 221, 177, 0.1); 
}
  
p.small > code {
    font-size: 0.8em; 
}
  
.visible {
    border-color: rgba(221, 221, 177, 0); 
}