@import '~themes/app.variables.scss';

.authenticator {
  background: white;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
  color: white;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: rgb(246, 246, 246);
    //background: linear-gradient(to right, rgb(123, 67, 151), rgb(220, 36, 48));
  }
  .login {
    background: #ffffff;
    background-size: cover;
    padding: 5%;
    border-radius: 7px;
    position: relative;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    color: #333333;
    &:before {
      content: '';
      width: 100px;
      height: 100px;
      position: absolute;
      top: -50px;
      right: calc(50% - 50px);
      z-index: -1;
      background-size: cover;
    }
    .logo{
      width: 50%;
      display: block;
      margin: 0 auto;
      padding-bottom: 25px;
    }
    .md-input-focused .md-input{
      border-color: rgb(239, 147, 50);
    }
    md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon {
      background-color: $primary;
    }


    md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label, md-input-container:not(.md-input-invalid).md-input-focused label, md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused md-icon, md-input-container:not(.md-input-invalid).md-input-focused md-icon{
      border-color: rgb(239, 147, 50);
      color: rgb(239, 147, 50);
    }
    md-input-container.md-icon-float > md-icon{
      color: #757575;
    }
    .login-btn {
      width: 100%;
      background: $primary;
      color: white;
    }
    .verify-code{
      md-input-container{
        margin: 0;
      }
    }
  }
}
