<div class="authenticator" layout="row" layout-wrap layout-align="center center">

  <div flex="30">
    <div class="alert alert-danger" ng-show="vm.isShowMessage" aria-hidden="false">{{vm.msgLogin}}
    </div>
    <div class="login">
      <img class="logo" src="/statics/img/Logo-adsGo.png" alt="Logo">
      <form name="myForm" novalidate ng-submit="myForm.$valid && vm.login()">
        <md-input-container class="md-icon-float md-icon-left md-block">
          <md-icon class="login-ic">person</md-icon>
          <input placeholder="Tên đăng nhập" name="username" type="text" required ng-model="vm.username" minlength="3"
                 md-maxlength="255">
          <div ng-messages="myForm.username.$error">
            <div ng-message="required">Vui lòng nhập username!</div>
            <div ng-message="minlength">Username tối thiểu 3 kí tự!</div>
            <div ng-message="md-maxlength">Username không vượt quá 255 kí tự!</div>
          </div>
        </md-input-container>
        <md-input-container class="md-icon-float md-icon-left md-block">
          <md-icon class="login-ic">lock</md-icon>
          <input placeholder="Mật khẩu" name="password" type="password" required ng-model="vm.password" minlength="5"
                 md-maxlength="255">
          <div ng-messages="myForm.password.$error">
            <div ng-message="required">Vui lòng nhập password!</div>
            <div ng-message="minlength">Password tối thiểu 5 kí tự!</div>
            <div ng-message="md-maxlength">Password không vượt quá 255 kí tự!</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <md-checkbox ng-model="vm.isRemember">
            Ghi nhớ mật khẩu
          </md-checkbox>
        </md-input-container>
        <md-button class="login-btn" type="submit">
          Đăng Nhập
        </md-button>

      </form>

    </div>
  </div>

</div>
