<div class="driver">
    <div class="campaign customer">
        <div class="row">
            <div class="col-lg-7">
                <h2 class="section-header">
                    Thêm báo cáo hình
                </h2>
            </div>
            <div class="col-md-12">
                <div class="panel panel-default panel-minimal">
                    <div class="panel-body">
                        <div class="col-md-6" layout="column" ng-cloak>
                            <md-input-container class="md-block">
                                <label>Tên công ty đối tác</label>
                                <md-select ng-model="vm.selectedKH" ng-change="vm.selectKH()" required>
                                    <md-option ng-value="item.idKhachHang" ng-repeat="item in vm.listKH">{{item.tenVietTat}}</md-option>
                                </md-select>
                                <div ng-messages="myForm.kh.$error">
                                    <div ng-message="required">Vui lòng chọn công ty đối tác!</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Chiến dịch</label>
                                <md-select ng-model="vm.selectedCD" ng-change="vm.selectCD()" required>
                                    <md-option ng-value="item.id" ng-repeat="item in vm.listCampaigns">{{item.tenChienDich}}</md-option>
                                </md-select>
                                <div ng-messages="myForm.kh.$error">
                                    <div ng-message="required">Vui lòng chọn chiến dịch!</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Ghi chú</h5>
                                <textarea class="form-control" rows="2" ng-model="vm.ghiChu"></textarea>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-12">
                            <div layout-wrap layout="row">
                                <div layout="row" flex="80">

                                    <md-input-container class="md-block" flex="10">
                                        <label>Số chỗ</label>
                                        <md-select ng-model="vm.pagingConfig.filterSoCho" name="soCho">
                                            <md-option ng-repeat="item in vm.soChos" value="{{item.value}}">
                                                {{item.name}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex="10">
                                        <label>Dòng xe</label>
                                        <md-select ng-model="vm.pagingConfig.filterDongXe" name="dongXe">
                                            <md-option ng-repeat="dong in vm.dongXes" value="{{dong}}">
                                                {{dong}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container class="md-block col-md-3">
                                        <label>Loại </label>
                                        <md-select ng-model="vm.pagingConfig.filterLoaiXe">
                                            <md-option ng-repeat="loaixe in vm.loaixe" value="{{loaixe}}">
                                                {{loaixe}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container class="md-block col-md-3" style="padding: 0;">
                                        <label for="input_56">Biển số xe</label>
                                        <input ng-model="vm.pagingConfig.filterBienSo" id="input_56" aria-invalid="false">
                                        <div class="md-errors-spacer"></div>
                                    </md-input-container>
                                </div>
                                <div layout-wrap flex layout-align="end none">
                                    <md-button class="md-raised btn-apply" ng-click="vm.applyFilter()">Áp dụng</md-button>
                                </div>
                            </div>
                            <div class="row">
                                <md-table-container>
                                    <table resize md-table md-row-select="true" multiple="true" ng-model="vm.selectedCars" class="tb-adsgo">
                                        <thead md-head md-order="myOrder">
                                            <tr md-row>
                                                <th class="checkbox-all">
                                                    <md-checkbox aria-label="Checkbox 1" ng-model="vm.isSelectAllCars" ng-change="vm.selectAllCars()">
                                                    </md-checkbox>
                                                </th>
                                                <th md-column>STT</th>
                                                <th md-column md-order-by="bienKiemSoat">Biển Số</th>
                                                <th md-column md-order-by="soCho">Loại Xe</th>
                                            </tr>
                                        </thead>
                                        <tbody md-body>
                                            <tr md-row md-select="reportCars.bienKiemSoat" md-select-id="bienKiemSoat" ng-repeat="reportCars in vm.listXe | orderBy: myOrder | filter: vm.pagingConfig.filterLoaiXe | filter: vm.pagingConfig.filterBienSo |
                                            filter: vm.pagingConfig.filterDongXe | filter: vm.pagingConfig.filterSoCho| limitTo: vm.pagingConfig.limit : (vm.pagingConfig.page -1) * vm.pagingConfig.limit">
                                                <td md-cell>{{$index +1}}</td>
                                                <td md-cell>{{reportCars.bienKiemSoat}}</td>
                                                <td md-cell>{{reportCars.soCho}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </md-table-container>
                                <md-table-pagination md-limit="vm.pagingConfig.limit" md-limit-options="[20, 50, 100]" md-page="vm.pagingConfig.page" md-total="{{(vm.listXe | filter: vm.pagingConfig.filterLoaiXe | filter: vm.pagingConfig.filterDongXe
                                    | filter: vm.pagingConfig.filterSoCho | filter: vm.pagingConfig.filterBienSo).length}}"
                                    md-page-select md-label="{ page: 'Trang', rowsPerPage: 'Số dòng mỗi trang', of: 'của' }"></md-table-pagination>
                                <!--check md-table-->
                                <md-button class="md-raised btn-adsgo" ng-click="vm.goImages()">Quay Lại</md-button>
                                <md-button class="md-raised btn-adsgo send-button" ng-click="vm.sendRequest()">Gửi yêu cầu</md-button>
                            </div>
                        </div>
                        <!-- <div class="table-responsive"> -->

                        <!-- </div> -->
                        <!-- <div class="row">
                    <p class="col-md-4">Tất cả: {{vm.countAllItem}} tài xế </p>
                    <pagination class="col-md-8" total-element="vm.countAllItem" on-page-change="vm.changePage(page)" on-change-num-item="vm.changeItemPerPage(itemPerPage)"></pagination>
                  </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
