<!--<div id="paging" layout="row" layout-align="end center" class="pagination-text">-->
<!--<div ng-if="vm.currentPage > 0"  ng-click="vm.onChange(vm.currentPage - 1)">{{'pagination.previous.label' | translate}}</div>-->
<!--<div ng-repeat="item in vm.pageNumber track by $index" ng-click="vm.onChange($index)">-->
<!--<div class="pagination-btn" ng-class="{'active': $index === vm.currentPage}" layout="column" layout-align="center center">{{$index + 1}}</div>-->
<!--</div>-->
<!--<div ng-if="vm.currentPage < vm.pageNumber.length - 1" ng-click="vm.onChange(vm.currentPage + 1)">{{'pagination.next.label' | translate}}</div>-->
<!--</div>-->
<div class="paging" layout="row" layout-align="end none">
  <md-input-container class="md-block">
    <label>Hiển thị</label>
    <md-select ng-model="vm.itemPerPage" ng-change="vm.updateItemPerPage()">
      <md-option ng-repeat="row in vm.dataRows" value="{{row}}">
        {{row}}
      </md-option>
    </md-select>
  </md-input-container>
  {{vm.check()}}
  <paging
    class="small"
    page="vm.currentPage"
    page-size="pageSize" 
    total="vm.totalPages"
    show-prev-next="true"
    show-first-last="true"
    text-next-class="glyphicon glyphicon-chevron-right"
    text-prev-class="glyphicon glyphicon-chevron-left"
    text-first-class="glyphicon glyphicon-backward"
    text-last-class="glyphicon glyphicon-forward"
    show-first-last="true"
    ul-class="pagination pagination-adsgo pager"
    active-class="active"
    disabled-class="disabled"
    paging-action="vm.goToPage(page)">
  </paging>
</div>
<p style="float:right">Hiển thị trang: {{vm.currentPage}}/{{vm.totalPages}}</p>
