<div class="campaign-add">
  <h3 class="section-header">Thêm chiến dịch
  </h3>
  <form name="myForm" novalidate ng-submit="myForm.$valid && vm.submit()">
  <div class="panel panel-defauld panel-minimal">
    <div class="panel-body row">
      <div class="col-md-6" layout="column" ng-cloak>
        <md-input-container class="md-block">
          <label>Khách hàng</label>
          <md-select ng-model="vm.data.selectedKH" md-selected-text="vm.getSelectedKH()" name="kh" required>
            <md-option ng-value="item" ng-repeat="item in vm.listKH">{{item['tenVietTat']}}</md-option>
          </md-select>
          <div ng-messages="myForm.kh.$error">
            <div ng-message="required">Vui lòng chọn khách hàng!</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Chiến dịch</label>
          <input ng-model="vm.data.tenChienDich" name="tenChienDich" minlength="6" md-maxlength="255" required>
          <div ng-messages="myForm.tenChienDich.$error">
            <div ng-message="required">Vui lòng nhập tên chiến dịch!</div>
            <div ng-message="minlength">Tên chiến dịch tối thiểu 6 kí tự!</div>
            <div ng-message="md-maxlength">Tên chiến dịch không vượt quá 255 kí tự!</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Số tiền của chiến dịch</label>
          <input type="number" min="1000" ng-model="vm.data.tienChienDich" name="tienChienDich" required>
          <div ng-messages="myForm.tienChienDich.$error">
            <div ng-message="required">Vui lòng nhập số tiền!</div>
            <div ng-message="min">Số tiền nhỏ nhất là 1000!</div>
          </div>
        </md-input-container>
        <div layout="row">
          <md-input-container flex="50">
            <label>Số ngày setup xe</label>
            <input type="number" min="1" ng-model="vm.data.soNgaySetup" name="soNgaySetup" ng-change="vm.checkDate()" required>
            <div ng-messages="myForm.soNgaySetup.$error">
              <div ng-message="required">Vui lòng nhập số ngày setup!</div>
              <div ng-message="min">Số ngày phải là số dương!</div>
            </div>
          </md-input-container>
          <md-input-container flex="50">
            <label>Ngày setup</label>
            <md-datepicker ng-model="vm.data.ngaySetup" md-placeholder="ngày setup" name="ngaySetup"
                           ng-disabled="true"></md-datepicker>
          </md-input-container>
        </div>
        <md-input-container>
          <label ng-show="vm.data.soNgayHopDong">Thời gian hợp đồng: {{vm.data.soNgayHopDong}} ngày</label>
          <label ng-show="!vm.data.soNgayHopDong">Thời gian hợp đồng:</label>
          <!-- <input type="number" ng-disabled="true" min="1" ng-model="vm.data.thang_hop_dong" name="thang_hop_dong" required> -->
        </md-input-container>
        <br>
        <div layout="row">
          <!-- <p>Thời gian hợp đồng</p> -->
          <md-input-container flex="35">
            <label>Từ ngày</label>
            <md-datepicker ng-model="vm.data.thoiGianBatDau" md-placeholder="Ngày bắt đầu" name="thoiGianBatDau" ng-change="vm.checkDate()" required></md-datepicker>
            <div ng-messages="myForm.thoiGianBatDau.$error">
              <div ng-message="required">Vui lòng chọn thời gian bắt đầu chiến dịch!</div>
            </div>
          </md-input-container>
          <md-input-container>
            <label>Đến ngày</label>
            <md-datepicker ng-model="vm.data.thoiGianKetThucTamThoi" md-placeholder="Ngày kết thúc" name="thoiGianKetThucTamThoi" ng-change="vm.checkDate()" required></md-datepicker>
            <div ng-messages="myForm.thoiGianKetThucTamThoi.$error">
              <div ng-message="required">Vui lòng chọn thời gian kết thúc chiến dịch!</div>
            </div>
          </md-input-container>
        </div>
        <md-input-container>
          <label>Khu vực chạy</label>
          <md-select ng-model="vm.data.selectedKV" md-selected-text="vm.getSelectedKV()" name="kv" required>
            <md-option ng-value="item" ng-repeat="item in vm.cities">{{item}}</md-option>
          </md-select>
          <div ng-messages="myForm.kv.$error">
            <div ng-message="required">Vui lòng chọn khu vực!</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>Loại quảng cáo</label>
          <md-select ng-model="vm.data.selectedQC" md-selected-text="vm.getSelectedQC()" name="qc" required>
            <md-option ng-value="item" ng-repeat="item in vm.listQC">{{item['tenLoaiQuangCao']}}</md-option>
          </md-select>
          <div ng-messages="myForm.qc.$error">
            <div ng-message="required">Vui lòng chọn loại quảng cáo!</div>
          </div>
        </md-input-container>
      </div>
      <div class="col-md-6">
        <upload position="Hình chiến dịch" source="" on-selected="vm.onChangeImage1(image)" title="hinh_chien_dich"></upload>
        <div layout="">
          <div flex>
            <upload position="Cửa cạnh vô lăng" source="" on-selected="vm.onChangeImage2(image)" title="cua_canh_vo_lang"></upload>
          </div>
          <div flex>
            <upload position="Cửa còn lại" source="" on-selected="vm.onChangeImage3(image)" title="cua_con_lai"></upload>
          </div>
          <div flex>
            <upload position="Mặt trước" source="" on-selected="vm.onChangeImage4(image)" title="mat_truoc"></upload>
          </div>
          <div flex>
            <upload position="Mặt sau" source="" on-selected="vm.onChangeImage5(image)" title="mat_sau"></upload>
          </div>
        </div>
      </div>
      <section class="col-md-12">
        <md-button class="md-raised" ng-click="vm.goCampaignView()">Hủy</md-button>
        <md-button class="md-raised md-primary" type="submit">Lưu và tiếp tục</md-button>
      </section>
    </div>
  </div>
</form>
</div>