<div class="campaign">
  <div class="row">
    <div class="col-lg-7 clearfix">
      <h2 class="section-header">Quản lý xe hệ thống</h2>
    </div>
    <div class="col-md-12">
      <div class="panel panel-default panel-minimal">
        <div class="panel-body">
          <md-button class="md-fab btn-add-new" aria-label="Eat cake" ng-click="vm.goAddCar()">
            <md-icon>add</md-icon>
          </md-button>
          <div layout-wrap layout="row">
            <div layout="row" flex="80">
              <md-input-container class="md-block">
                <label>Tìm xe</label>
                <input ng-model="vm.bienKiemSoat" ng-keyup="vm.searchChanged($event)">
              </md-input-container>
              <md-input-container class="md-block">
                <label>Tình trạng xe</label>
                <md-select ng-model="vm.selectTinhTrang" ng-change="vm.applyFilter()" md-selected-text="vm.getSelectedTinhTrang()" name="tinhtrang">
                  <md-option ng-value="">--empty--</md-option>
                  <md-option ng-value="item" ng-repeat="item in danhSachTinhTrang">{{item}}</md-option>
                </md-select>
              </md-input-container>
              <md-input-container class="md-block">
                <label>Xe theo chiến dịch</label>
                <md-select ng-model="vm.selectChienDich" 
                  ng-change="vm.applyFilter()" md-selected-text="vm.getSelectedChienDich()" name="chiendich">
                  <md-option ng-value="">--empty--</md-option>
                  <md-option ng-value="item" ng-repeat="item in danhSachChienDich">{{item['name']}}</md-option>
                </md-select>
              </md-input-container>

            </div>
            <div layout-wrap flex layout-align="end none">
              <md-button class="md-raised" ng-click="vm.applyFilter()">Áp dụng</md-button>
            </div>
          </div>
          <div>
              <label>Nhập file</label>
              <uploadCSV></uploadCSV>
          </div>

          <div class="table-responsive">
            <table class="table table-responsive no-margin tb-adsgo table-hover">
              <thead>
              <tr>
                <th>Số xe</th>
                <th>Số tài</th>
                <th>Bãi xe</th>
                <th>Loại xe</th>
                <th>Hãng & model</th>
                <th>TP hoạt động</th>
                <th>Tổng Km đã chạy</th>
                <th>Số Km trung bình/ngày</th>
                <th>Tình trạng</th>
                <th>Số chiến dịch</th>
                <th>Tùy chỉnh</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="cp in vm.listXe">
                <td><a href="#"><span class="car">{{cp.bienKiemSoat}}</span></a></td>
                <td>{{cp.soQuanLy}}</td>
                <td>{{cp.baiXe}}</td>
                <td>{{cp.loaiXe}}</td>
                <td>{{cp.dongXe}}</td>
                <td>{{cp.thanhPho}}</td>
                <td>{{cp.tongKMDaChay}}</td>
                <td>{{cp.tongKMTrungBinhNgay}}</td>
                <td>{{cp.tinhTrangXe}}</td>
                <td>{{cp.soChienDich}}</td>
                <td>
                  <md-button class="md-icon-button md-primary" aria-label="edit" ng-click="vm.goEditCar(cp.bienKiemSoat)">
                    <md-icon class="fa fa-pencil-square-o"></md-icon>
                  </md-button>
                  <md-button class="md-icon-button md-primary" aria-label="delete">
                    <md-icon class="fa fa-trash-o" ng-click="vm.deleteXe(cp.bienKiemSoat)"></md-icon>
                  </md-button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <div class="row">
            <p class="col-md-4">Tất cả: {{vm.countAllItem}} xe</p>
            <pagination class="col-md-8" total-element="vm.countAllItem" on-page-change="vm.changePage(page)" on-change-num-item="vm.changeItemPerPage(itemPerPage)"></pagination>
          </div>

        </div>
      </div>
      <span class="label label-success">Đang hoạt động</span>
      <span class="label label-warning">Trùng chiến</span>
      <!-- <span class="label label-default">Đã Xóa</span> -->
      <span class="label label-info">Đã thanh lý</span>
    </div>
  </div>
</div>


