<div class="campaign customer">
        <div class="row">
          <div class="col-lg-7">
            <h2 class="section-header">
              Phân quyền
            </h2></div>
          <div class="col-md-12">
            <div class="panel panel-default panel-minimal">
              <div class="panel-body">
                <md-button class="md-fab btn-add-new" aria-label="Eat cake" ng-click="vm.showPrompt($event)">
                  <md-icon>add</md-icon>
                </md-button>
                <div class="table-responsive">
                  <table class="table table-striped no-margin tb-adsgo table-hover">
                    <thead>
                    <tr>
                      <th>Permission</th>
                      <th ng-repeat="role in vm.listRoles">{{role.name}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="access in vm.listAccessControls">
                      <td class="main-permission">{{access.nameView}}</td>
                      <td ng-repeat="role in vm.listRoles">
                        <md-checkbox aria-label="check" class="green" ng-checked="vm.exists(role, access)" ng-click="vm.toggle(role, access)">
                      </md-checkbox>
                      </td>
                    </tr>
                    
                    </tbody>
                  </table>
                  <md-button class="md-raised md-primary" type="submit" ng-disabled="!vm.enableUpdate" ng-click="vm.updateAccess()">Cập nhật</md-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      