.menu-panel {
  background: white;
  border-radius: 4px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
  0 13px 19px 2px rgba(0, 0, 0, 0.14),
  0 5px 24px 4px rgba(0, 0, 0, 0.12);
  width: 256px;
}

.menu-panel-item {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 48px;
  padding: 0 16px;
  position: relative;
  transition: background 0.15s linear;
  width: auto;
}

.menu-panel-item:hover,
.menu-panel-item:focus {
  background-color: rgb(238, 238, 238);
}

.menu-panel-item.selected {
  color: rgb(16, 108, 200);
}
