@import '~themes/app.variables.scss';

.set-cmnd {
    width: 9%;
}

.set-cmnd {
    width: 9%;
}

.set-sdt {
    width: 1%;
}

.set-solanbaocao{
    width: 7%;
}

.set-tongkm {
    width: 8%;
}

.set-kmtb {
    width: 8%;
}

.name {
    font-size: 1.1em;
    font-weight: bold;
}