<div class="driver">
  <div class="campaign customer">
    <div class="row">
      <div class="col-lg-7">
        <h2 class="section-header">
          Quản lý tài xế
        </h2></div>
      <div class="col-md-12">
        <div class="panel panel-default panel-minimal">
          <div class="panel-body">
            <div class="lock-size btn-more-add">
              <md-fab-speed-dial md-direction="left" class="md-fling">
                <md-fab-trigger>
                  <md-button aria-label="Add..."
                  class="md-fab btn-add-list"><md-icon class="material-icons"
                  >playlist_add</md-icon>
                  </md-button>
                </md-fab-trigger>

                <md-fab-actions>
                  <md-button class="md-fab md-raised md-mini md-ink-ripple" aria-hidden="true"  aria-label="Add User" ng-click="vm.goAddDriver()">
                    <md-icon class="ng-scope material-icons" role="img" aria-hidden="true">add</md-icon>
                  </md-button>

                  <md-button class="md-fab md-raised md-mini md-ink-ripple" aria-hidden="true" aria-label="Add Group">
                    <md-icon class="material-icons">file_upload</md-icon>
                  </md-button>
                </md-fab-actions>
              </md-fab-speed-dial>
            </div>
            <div layout-wrap layout="row">
              <div layout="row" flex="80">
                <md-input-container class="md-block" flex="30">
                  <label>Tìm tên tài xế</label>
                  <input ng-model="vm.taiXe" ng-keyup="vm.searchChanged($event)">
                </md-input-container>
                <md-input-container class="md-block" flex="30">
                  <label>Thành phố</label>
                  <md-select ng-model="vm.selectThanhPho" ng-change="vm.applyFilter()"
                    md-selected-text="vm.getSelectedThanhPho()" name="city">
                    <md-option ng-value="">--empty--</md-option>
                    <md-option ng-value="city" ng-repeat="city in vm.cities">{{city}}</md-option>
                  </md-select>
                </md-input-container>

              </div>
              <div layout-wrap flex layout-align="end none">
                <md-button class="md-raised btn-apply" ng-click="vm.applyFilter()">Áp dụng</md-button>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-responsive no-margin tb-adsgo table-hover">
                <thead>
                <tr>
                  <th>STT</th>
                  <th>Tên tài xế</th>
                  <th>Số xe</th>
                  <th class="set-cmnd">CMND</th>
                  <th class="set-sdt">Điên thoại</th>
                  <th class="set-solanbaocao">Số lần báo cáo</th>
                  <th>Thành phố hoạt động</th>
                  <th class="set-tongkm">Tổng km đã chạy</th>
                  <th class="set-kmtb">Số Km trung bình/ngày</th>
                  <th>Tùy chỉnh</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(key, cp) in vm.listDrivers">
                  <td>{{(vm.page - 1 ) * vm.pageItems + key + 1}}</td>
                  <td><a href="/tai-xe/view/{{cp.cmnd}}"><span class="name">{{cp.tenTaiXe}}</span></a></td>
                  <td>{{cp.soXe}}</td>
                  <td>{{cp.cmnd}}</td>
                  <td>{{cp.sdt}}</td>
                  <td>{{cp.soLanBaoCao}}</td>
                  <td>{{cp.tpHoatDong}}</td>
                  <td>{{cp.tongKMChay}}</td>
                  <td>{{cp.tongKMTBNgay}}</td>
                  <td>
                    <md-button class="md-icon-button md-primary" aria-label="edit" ng-click="vm.goEditDriver(cp.cmnd)">
                      <md-icon class="fa fa-pencil-square-o"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button md-primary" aria-label="delete" ng-click="vm.showConfirm($event, cp.cmnd)">
                      <md-icon class="fa fa-trash-o"></md-icon>
                    </md-button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="row">
              <p class="col-md-4">Tất cả: {{vm.countAllItem}} tài xế </p>
              <pagination class="col-md-8" total-element="vm.countAllItem" on-page-change="vm.changePage(page)" on-change-num-item="vm.changeItemPerPage(itemPerPage)"></pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
