<div class="campaign customer">
  <div class="row">
    <div class="col-lg-7">
      <h2 class="section-header">
        Quản lý khách hàng
      </h2></div>
    <div class="col-md-12">
      <div class="panel panel-default panel-minimal">
        <div class="panel-body">
          <md-button class="md-fab btn-add-new" aria-label="Eat cake" ng-click="vm.goAddKH()">
            <md-icon>add</md-icon>
          </md-button>
          <div class="row">
            <div class="col-md-3">
              <md-input-container class="md-block">
                <label>Tìm tên công ty</label>
                <input ng-model="vm.searchKey" ng-keyup="vm.searchChanged($event)">
              </md-input-container>
            </div>
            <div class="col-md-9">
              <md-button class="md-raised pull-right" ng-click="vm.applyFilter()">Áp dụng</md-button>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-responsive no-margin tb-adsgo table-hover">
              <thead>
              <tr>
                <th>STT</th>
                <th>Logo</th>
                <th>Tên công ty</th>
                <th>Điện thoại công ty</th>
                <th>Người liên hệ</th>
                <th>Điện thoại người liên hệ</th>
                <th>Địa chỉ</th>
                <th>Mã số thuế</th>
                <th>Tùy chỉnh</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="(key, cp) in vm.listKH">
                <td>{{(vm.page - 1 ) * vm.pageItems + key + 1}}</td>
                <td><img src="{{cp.logo}}"></td>
                <td><a href="/khach-hang/view/{{cp.id}}">{{cp.tenCongTy}}</a></td>
                <td>{{cp.sdt}}</td>
                <td>{{cp.nguoiLienHe}}</td>
                <td>{{cp.sdtNguoiLienHe}}</td>
                <td>{{cp.diaChi}}</td>
                <td>{{cp.maSoThue}}</td>
                <td>
                  <md-button class="md-icon-button md-primary" aria-label="edit">
                    <md-icon class="fa fa-pencil-square-o" ng-click="vm.goEditKH(cp.id)"></md-icon>
                  </md-button>
                  <md-button class="md-icon-button md-primary" aria-label="delete">
                    <md-icon class="fa fa-trash-o" ng-click="vm.deleteKH(cp.id)"></md-icon>
                  </md-button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <p class="col-md-4">Tất cả: {{vm.countAllItem}} khách hàng</p>
            <pagination class="col-md-8" total-element="vm.countAllItem" on-page-change="vm.changePage(page)" on-change-num-item="vm.changeItemPerPage(itemPerPage)"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
