@import '~themes/app.variables.scss';

.campaign-add-car {
  .sum-car {
    background-color: $whiteF2;
    width: 400px;
    float: right;
    font-family: adsgo-medium;
  }
  .add-new-car {
    background-color: $whiteF2;
    margin: 30px 0;
    .fill-add{
      padding: 10px 0 0 10px;
    }
  }
  .range-slide-adsgo{
    margin: 40px 0;
  }

  .find-car{
    padding: 20px 0;
    .tb-control{
      height: 300px;
      overflow: auto;
    }
    .car-in-campaign{
      .title-count{
        background-color: $orangef1;
      }
      .sum-table{
        p{
          float: left;
        }
        .md-button{
          background-color: $primary;
          float: right;
        }
        .md-button[disabled] {
          background-color: #cccccc;
          color: #666666;
        }
      }
    }
    .car-choosed{
      .title-count{
        background-color: $primary;
      }
      .sum-table{
        p{
          float: right;
        }
        .md-button{
          float: left;
          background-color: $orangeFe;
        }
        .md-button[disabled] {
          background-color: #cccccc;
          color: #666666;
        }
      }
    }

    .search-car{
      width: 50%;
    }
    .tb-find-car{
      border: 1px solid $graya2;
      md-checkbox{
        margin: 0;
      }
      .title-count{
        margin: 0;
        padding: 10px;
        text-align: center;
        color: white;
      }
      table{
        padding-bottom: 0;
        margin: 0;
        thead{
          background-color: $black80;
          color: white;
          .md-icon{
            border-color: white;
          }
        }
      }
      .sum-table{
        width: 100%;
        display: inline-block;
        border-top: 1px solid $graya2;
        p{
          padding: 13px 10px;
          margin: 0;
          font-size: 15px;
        }
      }
    }
  }
  .action-page{
    padding: 20px 0;
    border-top:1px solid $graya2;
  }
}
.label {
  color: black;
}
th.md-checkbox-column {
  display: none;
}
th.checkbox-all {
  width: 20px !important;
  padding: 0 0 0 24px !important;
}
.table>thead>tr>th {
  vertical-align: inherit;
}
td.tdcontent {
  padding: 0 2px 0 0 !important;
}
.form {
  width: 100%;
}
.redundancy{
  color: red;
}