<div class="campaign-add-car">
  <div class="row">
    <div class="col-lg-7 clearfix">
      <h2 class="section-header">Chọn xe chiến dịch: {{vm.campaign.tenChienDich}}</h2>
    </div>
    <div class="col-md-12">
      <div class="panel panel-default panel-minimal">
        <div class="panel-body">
          <div class="form-inline request-car">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">4 Chỗ</div>
                <input type="text" class="form-control" placeholder="Số lượng xe" ng-model="vm.campaign.tong4Cho">
                <div class="input-group-addon">xe</div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">7 Chỗ</div>
                <input type="text" class="form-control" placeholder="Số lượng xe" ng-model="vm.campaign.tong7Cho">
                <div class="input-group-addon">xe</div>
              </div>
            </div>
            <div class="form-group sum-car btn">Tổng xe: {{vm.campaign.soLuongXe}}</div>
          </div>
          <div layout-wrap layout="row" class="add-new-car">
            <form name="myForm" class="form" novalidate ng-submit="myForm.$valid && vm.saveCampainCarFilter()">
            <div layout="row" flex="90" class="fill-add">
              <md-input-container class="md-block" flex="10">
                <label>Số chỗ</label>
                <md-select ng-model="vm.curFilter.soCho" name="soCho" required>
                  <md-option ng-repeat="item in vm.soChos" value="{{item.value}}">
                    {{item.name}}
                  </md-option>
                </md-select>
                <div ng-messages="myForm.soCho.$error">
                  <div ng-message="required">Vui lòng chọn số chỗ!</div>
                </div>
              </md-input-container>
              <md-input-container class="md-block" flex="10">
                <label>Dòng xe</label>
                <md-select ng-model="vm.curFilter.dongXe" name="dongXe" required>
                  <md-option ng-repeat="dong in vm.dongXes" value="{{dong}}">
                    {{dong}}
                  </md-option>
                </md-select>
                <div ng-messages="myForm.dongXe.$error">
                  <div ng-message="required">Vui lòng chọn dòng xe!</div>
                </div>
              </md-input-container>
              <md-input-container class="md-block" flex="10">
                <label>Loại xe</label>
                <md-select ng-model="vm.curFilter.loaiXe" name="loaiXe" required>
                  <md-option ng-repeat="loai in vm.loaiXes" value="{{loai}}">
                    {{loai}}
                  </md-option>
                </md-select>
                <div ng-messages="myForm.loaiXe.$error">
                  <div ng-message="required">Vui lòng chọn loại xe!</div>
                </div>
              </md-input-container>
              <md-input-container class="md-block" flex="30">
                <label>Số lượng xe</label>
                <input ng-model="vm.curFilter.tongXeCan" type="number" name="tongXeCan" required>
                <div ng-messages="myForm.tongXeCan.$error">
                  <div ng-message="required">Vui lòng chọn số xe cần!</div>
                </div>
              </md-input-container>
            </div>
            <div layout-wrap layout="row" layout-align="end center">
              <md-button type="submit" class="btn-adsgo">Thêm</md-button>
            </div>
          </form>
          </div>
          <div class="table-responsive">
            <table class="table no-margin tb-adsgo table-hover">
              <thead>
              <tr>
                <th>Số chỗ</th>
                <th>Dòng xe</th>
                <th>Mẫu xe</th>
                <th>Tổng xe cần</th>
                <th>Tổng xe chọn</th>
                <th>Chỉnh sửa</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="item in vm.listCampaignCarFilters">
                <td>xe {{item.soCho}} chỗ</td>
                <td>{{item.dongXe}}</td>
                <td>{{item.loaiXe}}</td>
                <td><input ng-model="vm.listCampaignCarFilters[$index].tongXeCan" type="text" class=""></td>
                <td ng-class="{'redundancy': item.tongXeChon > item.tongXeCan}">{{item.tongXeChon}}</td>
                <td>
                  <md-button class="md-raised" ng-click="vm.confirmDelete($event, item.id)">Xóa</md-button>
                  <md-button class="btn-adsgo" ng-click="vm.filter($index)">Áp dụng</md-button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>


          <div class="range-slide-adsgo">
            <rzslider rz-slider-model="vm.priceSlider.minValue"
                      rz-slider-high="vm.priceSlider.maxValue"
                      rz-slider-options="vm.priceSlider.options"></rzslider>

          </div>

          <div class="find-car row">
            <div class="col-md-6 car-in-campaign">
              <div class="form-group has-feedback search-car">
                <input type="text" class="form-control" ng-model="vm.searchAvailableCars" ng-change="vm.applyFilter()">
                <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true" placeholder="Tìm kiếm biển số xe"></span>
                <span class="sr-only">(success)</span>
              </div>
              <div class="tb-find-car">
                <h4 class="title-count">Xe Sẵn Có</h4>
                <div class="tb-control">

                  <md-table-container>
                    <table md-table md-row-select="true" multiple="true" ng-model="vm.selectedCars" class="tb-adsgo table-responsive table table-striped">
                        <thead md-head md-order="myOrder">
                            <tr md-row>
                                <th class="checkbox-all"><md-checkbox aria-label="Checkbox 1" ng-model="vm.isSelectAllCars" ng-change="vm.selectAllCars()">
                                  </md-checkbox></th>
                                <th md-column>STT</th>
                                <th md-column md-order-by="bienKiemSoat">Số Xe</th>
                                <th md-column md-order-by="baiXe">Bãi Xe</th>
                                <th md-column md-order-by="soCho">Loại Xe</th>
                                <th md-column md-order-by="loaiXe">Hãng & Model</th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row md-row md-select="car.bienKiemSoat" md-select-id="bienKiemSoat" ng-repeat="car in vm.availableCars | orderBy: myOrder | filter: vm.pagingConfig.filterSoXe | limitTo: vm.pagingConfig.limit : (vm.pagingConfig.page -1) * vm.pagingConfig.limit">
                                <td md-cell>{{(vm.pagingConfig.page - 1 ) * vm.pagingConfig.limit + $index + 1}}</td>
                                <td md-cell class="tdcontent">{{car.bienKiemSoat}}</td>
                                <td md-cell class="tdcontent">{{car.baiXe}}</td>
                                <td md-cell class="tdcontent">{{car.soCho}} chỗ</td>
                                <td md-cell class="tdcontent">{{car.loaiXe}}</td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
                </div>
                <md-table-pagination md-limit="vm.pagingConfig.limit" md-limit-options="[20, 50, 100]" md-page="vm.pagingConfig.page" md-total="{{(vm.availableCars | filter: vm.pagingConfig.filterSoXe).length}}"
                md-page-select md-label="{ page: 'Trang', rowsPerPage: 'Số dòng mỗi trang', of: 'của' }"></md-table-pagination>
                <div class="sum-table">
                  <md-button class="btn-adsgo" ng-disabled="vm.selectedCars.length <= 0" ng-click="vm.addCarsToCampaign()">Chọn</md-button>
                  <p>Tổng số: {{vm.availableCars.length}} xe</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 car-choosed">
              <div class="form-group has-feedback search-car">
                <input type="text" class="form-control" ng-model="vm.searchCampaignCars" ng-change="vm.applyFilter1()">
                <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true" placeholder="Tìm kiếm biển số xe"></span>
                <span class="sr-only">(success)</span>
              </div>
              <div class="tb-find-car">
                <h4 class="title-count">Xe Trong Chiến Dịch</h4>
                <div class="tb-control">
                  <!-- <table class="table-responsive table table-striped">
                    <thead>
                    <tr>
                      <th><md-checkbox aria-label="Checkbox 1">
                      </md-checkbox></th>
                      <th>STT</th>
                      <th>Số xe</th>
                      <th>Bãi Xe</th>
                      <th>Loại Xe</th>
                      <th>Hãng & model</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="car1 in vm.campaignCars">
                      <td><md-checkbox aria-label="Checkbox 1">
                      </md-checkbox></td>
                      <td>{{$index+1}}</td>
                      <td>{{car1.bienKiemsoat}}</td>
                      <td>{{car1.baiXe}}</td>
                      <td>{{car1.soCho}} chỗ</td>
                      <td>{{car1.loaiXe}}</td>
                    </tr>
                    </tbody>
                  </table> -->
                <md-table-container>
                    <table md-table md-row-select="true" multiple="true" ng-model="vm.selectedRemoveCars" class="tb-adsgo table table-responsive table-striped">
                        <thead md-head md-order="myOrder">
                            <tr md-row>
                                <th class="checkbox-all">
                                  <md-checkbox aria-label="Checkbox 1" ng-model="vm.isSelectRemoveAllCars" ng-change="vm.selectRemoveAllCars()">
                                  </md-checkbox></th>
                                <th md-column>STT</th>
                                <th md-column md-order-by="bienKiemSoat">Số Xe</th>
                                <th md-column md-order-by="baiXe">Bãi Xe</th>
                                <th md-column md-order-by="soCho">Loại Xe</th>
                                <th md-column md-order-by="loaiXe">Hãng & Model</th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row md-row md-select="car.bienKiemsoat" md-select-id="bienKiemsoat" ng-repeat="car in vm.campaignCars | orderBy: myOrder | filter: vm.pagingConfig1.filterSoXe | limitTo: vm.pagingConfig1.limit : (vm.pagingConfig1.page -1) * vm.pagingConfig1.limit">
                                <td md-cell>{{(vm.pagingConfig1.page - 1 ) * vm.pagingConfig1.limit + $index + 1}}</td>
                                <td md-cell class="tdcontent">{{car.bienKiemsoat}}</td>
                                <td md-cell class="tdcontent">{{car.baiXe}}</td>
                                <td md-cell class="tdcontent">{{car.soCho}} chỗ</td>
                                <td md-cell class="tdcontent">{{car.loaiXe}}</td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
                </div>
                <md-table-pagination md-limit="vm.pagingConfig1.limit" md-limit-options="[20, 50, 100]" md-page="vm.pagingConfig1.page" md-total="{{(vm.campaignCars | filter: vm.pagingConfig1.filterSoXe).length}}"
                md-page-select md-label="{ page: 'Trang', rowsPerPage: 'Số dòng mỗi trang', of: 'của' }"></md-table-pagination>
                <div class="sum-table">
                  <p>Tổng số: {{vm.campaignCars.length}} xe</p>
                  <md-button class="btn-adsgo" ng-disabled="vm.selectedRemoveCars.length <= 0" ng-click="vm.removeCarsFromCampaign()">Loại bỏ</md-button>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <md-button class="md-raised btn-right">Ẩn</md-button>
            </div>

          </div>
          <div class="action-page">
            <md-button class="btn-ogrange">Loại xe dự phòng từ chiến dịch</md-button><br>
            <md-button class="md-raised" ng-click="vm.goCampaignView()">Quay lại</md-button>
            <md-button class="btn-adsgo" ng-click="vm.goCampaignView()">Lưu</md-button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

