@import '~themes/app.variables.scss';
.campaign-detail{
  .infor-count{
    text-align: center;
    color: $gray1e;
    background: yellow;
    padding: 10px;
    &:first-child{
      background: $primary;
      color: $white;
    }
  }
  .total-car{
    border: 1px solid #ddd;
    margin-top: 20px;
    .total{
      border-right: 1px solid #ddd;
      padding: 10px;
      text-align: center;
    }
    .category-car{
      .four-seats{
        padding: 15px;
        border-bottom: 1px solid #ddd;
        height: 50%;
      }
      .seven-seats{
        padding: 15px;
      }
    }
  }
  .list-notification{
    .item-notification{
      padding: 0;
      .notification-status{
        padding-right: 10px;
      }
    }
  }
  .not-process {
    color: orange;
  }
  .processing {
    color: rgb(2, 185, 2);
  }
  .processed {
    color: rgb(0, 174, 255);
  }
  .fa-clock-o {
    margin-right: 5px;
  }
}

