<div class="campaign-detail">
  <div class="col-md-8">
    <div class="panel panel-default panel-minimal ">
      <div class="panel-body">
        <div class="thumbnail col-md-5">
          <img src="{{vm.listImgs['1']}}" alt="chiendich">
          <div class="caption">
            <h3>{{vm.campaign.tenChienDich}}</h3>
            <p>Bắt đầu: {{vm.campaign.thoiGianBatDau}}</p>
            <p>Kết thúc: {{vm.campaign.thoiGianKetThuc}}</p>
            <p>Tặng thêm: {{vm.campaign.bonus}}</p>
          </div>
        </div>
        <div class="col-md-7">
          <div layout="row">
            <div class="infor-count" flex="50">
              <i class="material-icons">event_note</i>
              <h4>Tổng số hiển thị</h4>
              <h3>{{vm.totalViewandKm.tongLuotXem}}</h3>
            </div>
            <div class="infor-count" flex="50">
              <i class="material-icons">network_check</i>
              <h4>Tổng số km</h4>
              <h3>{{vm.totalViewandKm.tongKMDaChay}}</h3>
            </div>
          </div>

          <div class="total-car" layout="row">
            <div class="total" flex="40">
              <i class="material-icons">directions_car</i>
              <h4>Tổng số xe</h4>
              <h3>{{vm.campaign.soLuongXe}} xe</h3>
            </div>
            <div class="category-car" flex="60">
              <p class="four-seats">4 chỗ: {{vm.campaign.tong4Cho}} xe</p>
              <p class="seven-seats">7 chỗ: {{vm.campaign.tong7Cho}} xe</p>
            </div>

          </div>
        </div>
        <div class="col-md-12">
          <md-button ng-disabled="vm.campaign.trangThaiChienDich === vm.CAMPAIGN_STATUS.HOAN_THANH" ng-click="vm.goToEdit(vm.campaign.id)" class="md-raised md-primary">
            <md-icon class="material-icons">assignment</md-icon>
            Chỉnh sửa chiến dịch
          </md-button>
          <md-button ng-disabled="vm.campaign.trangThaiChienDich === vm.CAMPAIGN_STATUS.HOAN_THANH" ng-click="vm.goToAddCar(vm.campaign.id)" class="md-raised md-primary">
            <md-icon class="material-icons">directions_car</md-icon>
            Chỉnh sửa xe
          </md-button>
          <md-button ng-click="vm.goToCarReport(vm.campaign.id)" class="md-raised md-primary">
            <md-icon class="material-icons">remove_red_eye</md-icon>
            Xem Báo cáo
          </md-button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default panel-minimal ">
      <div class="panel-body">
        <h5>Thông Báo</h5>
        <md-input-container class="md-block">
          <md-select ng-model="vm.selectedStatus" ng-change="vm.selectStatus()">
            <md-option value="">--All--</md-option>
            <md-option ng-repeat="status in vm.listStatus" value="{{status}}">
              {{status}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-tabs md-dynamic-height md-border-bottom md-align-tabs="bottom">
          <md-tab label="khách hàng">
            <md-list role="list" flex class="list-notification">
              <md-list-item class="md-2-line" ng-repeat="noti in vm.filteredNotis" ng-click="vm.showCustom($event, noti)">
                  <i ng-if="noti.trangThai === vm.NOTI_STATUS.CHUA_XU_LY" class="material-icons notification-status not-process">fiber_manual_record</i>
                  <i ng-if="noti.trangThai === vm.NOTI_STATUS.DANG_XU_LY" class="material-icons notification-status processing">fiber_manual_record</i>
                  <i ng-if="noti.trangThai === vm.NOTI_STATUS.DA_XU_LY" class="material-icons notification-status processed">fiber_manual_record</i>
                  <div class="md-list-item-text" layout="column">
                      <h3 class="ng-binding">{{noti.noiDung}}</h3>
                      <p><i class="fa fa-clock-o" aria-hidden="true"></i>{{noti.createdDate}}</p>
                  </div>
                </md-list-item>
            </md-list>
          </md-tab>
          <md-tab label="Tài xế">
            <md-content class="md-padding">
              <h1 class="md-display-2"></h1>
              
            </md-content>
          </md-tab>
        </md-tabs>
      </div>
    </div>
  </div>
</div>
