<md-dialog class="image-report" aria-label="image-report">
    <form ng-cloak>
      <md-dialog-content class="image-report-content">
          <div class="row">
            <div class="col-md-7 top-content">
                <h4>Người gởi: {{vm.showingNoti.nguoiGui}}</h4>
                <h4>Ngày gởi: {{vm.showingNoti.createdDate}}</h4>
            </div>
            <!-- <div class="col-md-4 top-content pull-right">
              <div class="right-item">
                <h4>Số lượng xe yêu cầu</h4>
                <h3>{{vm.showingReport.soLuongXe}} xe</h3>
              </div>
            </div> -->
          </div>
          <div class="row">
              <h4>Nội dung:</h4>
              <textarea ng-model="vm.showingNoti.noiDung" class="form-control" rows="3" placeholder="Nội dung" readonly></textarea>
              <h4>Ghi chú:</h4>
              <textarea ng-model="vm.showingNoti.ghiChu" class="form-control" rows="4" placeholder="Nhập nội dung ghi chú" ></textarea>
          </div>
      </md-dialog-content>
  
      <md-dialog-actions class="image-report-action" layout="row">
        <md-button class="md-raised" ng-click="vm.updateNoti('Đang xử lý')">
         Đang Xử Lý
        </md-button>
        <md-button class="md-raised accept-button" ng-click="vm.updateNoti('Đã xử lý')">
          Đã Xử Lý
        </md-button>
      </md-dialog-actions>
    </form>
  </md-dialog>