@import '~themes/app.variables.scss';
.driver-view{
  .tb-infor-driver{
    tbody tr td:first-child{
      padding-right: 15px;
      text-align: right;
    }
  }
  .card-infor-driver{
    border: 1px solid $grayAC;
    margin: 0 20px;
    padding: 0;
    text-align: center;
    font-family: adsgo-medium;
    color: #565353;
    border-radius: 4px;
    .card-infor-driver-header{
      font-size: 18px;
      color: white;
      padding: 5px;
    }
    .last-month{
      background: rgb(145, 145, 145);
    }
    .current-month{
      background: rgb(239, 147, 50);
    }
    .infor-driver-left, .infor-driver-right{
      width: 50%;
      float: left;
      padding: 10px 0;
    }
  }
  .label-approved{
    background-color: rgb(48, 115, 248);
  }
  .label-approving{
    background-color: rgb(239, 147, 50);
  }
}
