<div class="driver-view">
  <h3 class="section-header">
    Chi tiết tài xế
  </h3>
  <div class=" panel panel-defauld panel-minimal">
    <div class="pannel-body row panel-row">
      <div class="col-md-3">
        <table class="tb-infor-driver">
          <tbody>
          <tr>
            <td><label>Tên tài xế</label></td>
            <td>{{vm.driver.tenTaiXe}}</td>
          </tr>
          <tr>
            <td><label>Số xe</label></td>
            <td>{{vm.driver.soXe}}</td>
          </tr>
          <tr>
            <td><label>CMND</label></td>
            <td>{{vm.driver.cmnd}}</td>
          </tr>
          <tr>
            <td><label>Số điện thoại</label></td>
            <td>{{vm.driver.sdt}}</td>
          </tr>
          <tr>
            <td><label>Tp hoạt động</label></td>
            <td>{{vm.driver.tpHoatDong}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4 card-infor-driver">
        <div class="card-infor-driver-header last-month">Tháng trước</div>
        <div class="infor-driver-left">
          <p>Tổng km </br> đã chạy</p>
          <h3>{{vm.driver.tongKMThangTruoc}}</h3>
        </div>
        <div class="infor-driver-right">
          <p>Tổng báo cáo được </br>phê duyệt</p>
          <h3>{{vm.driver.tongBCDuyetThangTruoc}}</h3>
        </div>
      </div>
      <div class="col-md-4 card-infor-driver">
        <div class="card-infor-driver-header current-month">Tháng này</div>
        <div class="infor-driver-left">
          <p>Tổng km </br>đã chạy</p>
          <h3>{{vm.driver.tongKMChay}}</h3>
        </div>
        <div class="infor-driver-right">
          <p>Tổng báo cáo được </br>phê duyệt</p>
          <h3>{{vm.driver.tongBCDuyetThangNay}}</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-defauld panel-minimal">
    <div class="pannel-body panel-row">
      <div layout-wrap layout="row">
        <div layout="row" flex="90">
          <md-input-container class="md-block">
            <label>Chiến dịch</label>
            <md-select ng-model="vm.driver.area">
              <md-option ng-repeat="city in vm.driver.citys" value="{{city}}">
                {{city}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Trạng thái</label>
            <md-select ng-model="vm.driver.area">
              <md-option ng-repeat="city in vm.driver.citys" value="{{city}}">
                {{city}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container>
            <label>Từ ngày</label>
            <md-datepicker ng-model="vm.driver.date.from"></md-datepicker>
          </md-input-container>
          <md-input-container>
            <label>Đến ngày </label>
            <md-datepicker ng-model="vm.driver.date.to"></md-datepicker>
          </md-input-container>

        </div>
        <div layout-wrap flex layout-align="end none">
          <md-button class="md-raised" ng-click="vm.driver.applyFilter()">Áp dụng</md-button>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table no-margin tb-adsgo table-hover">
          <thead>
          <tr>
            <th>STT</th>
            <th>Ngày yêu cầu</th>
            <th>Ngày chụp</th>
            <th>Chiến dịch</th>
            <th>Loại quảng cáo</th>
            <th class="text-center">Báo cáo hình</th>
            <th class="text-center">Trạng thái</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>01</td>
            <td>01/01/2018</td>
            <td>01/01/2018</td>
            <td>Samsung S8</td>
            <td>Toàn thân sau</td>
            <td class="text-center">
              <button class="md-icon-button md-primary md-button md-ink-ripple" type="button"
                      aria-label="view">
                <md-icon class="fa fa-eye ng-scope" role="img" aria-hidden="true"></md-icon>
              </button>
            <td class="text-center"><span class="label label-approved">Duyệt</span></td>
          </tr>
          <tr>
            <td>01</td>
            <td>01/01/2018</td>
            <td>01/01/2018</td>
            <td>Samsung S8</td>
            <td>Toàn thân sau</td>
            <td class="text-center">
              <button class="md-icon-button md-primary md-button md-ink-ripple" type="button"
                      aria-label="view">
                <md-icon class="fa fa-eye ng-scope" role="img" aria-hidden="true"></md-icon>
              </button>
            <td class="text-center"><span class="label label-approving">Chưa duyệt</span></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
