$primary: #019245;
$green52: #2c9c52;
$green64: #64be30;
$purple97: #48285e;
$gray45: #666666;
$grayA: #AAAAAA;
$gray116: #747474;
$gray54 : #545353;
$graya2: #a2a4a6;
$gray60: #999999;
$grayAC: #b1b4ac;
$grayAD:#b2b5ad;
$grayAF:#aeb4af;
$grayB8: #c4c2b8;
$grayB7: #b7b7b7;
$grayBreadcrumb: #F5F5F5;
$grayBoxShadow: #cccccc;

$graye9: #e9e9e9;
$gray33: #262B33;
$gray51: #3D4051;
$grayF7: #F1F2F7;
$gray42: #2A3542;
$gray79: #797979;
$gray2c: #302F2C;
$gray1e: #22211E;
$gray7b: #7b7b7b;
$gray53: #565353;
$gray2c: #2C2C2C;
$gray6c: #6C6C6C;
$gray8B: #8B8B8B;
$gray45: #444645;
$gray52: #525252;
$grayb2: #b2b2b2;
$grayb6: #b6b6b6;

$black04: #020204;


$white: #ffffff;
$whiteB7: #aeb2b7;
$whiteF3: #f3f3f3;
$whiteF2: #f2f2f2;
$whiteF7: #FAF4F7;
$whiteab: #afafab;
$whiteFE: #FEFEFE;

$orangef7: #f7af62;
$orangef1: #f19320;
$orangeFe: #fe4e21;
$orangef0: #f09536;
$redfb: #fb6544;
$redfe :#fe4e21;

$blue30: #003399;
$yellow16: #FDC210;
$yellow20: #fee59a;
$black: #000000;
$black80: #808080;
$black32: #252432;
$blackRGBA: rgba(0, 0, 0, 0.5);
$red145: #d31145;
$red51: #D62051;

$fontSize16: 16px;
$fontSize18: 18px;
$fontSize20: 20px;
$fontSize25: 25px;
$fontSize30: 30px;
$fontTitle: 24pt;

$screenSizeWidth: 1366px;
$carouselHeight: 511px;
$breadCrumbHeight: 60px;

$menuWidth: 220px;
$menuWidthCollapse: 80px;
$menuItemColor: #838D9B;

$login-message: lightsalmon;
