@import './app.variables';

@font-face {
  font-family: 'aia-font';
  src: url('~statics/font/helveticaneue.ttf');
}

@font-face {
  font-family: 'aia-font-bold';
  src: url('~statics/font/helveticaneuebold.ttf');
}

@font-face {
  font-family: 'aia-font-bold-italic';
  src: url('~statics/font/helveticaneuebolditalic.ttf');
}

@font-face {
  font-family: 'aia-font-light';
  src: url('~statics/font/helveticaneuelight.ttf');
}

@font-face {
  font-family: 'aia-font-light-italic';
  src: url('~statics/font/helveticaneuelightitalic.ttf');
}

@font-face {
  font-family: 'aia-font-ultralight';
  src: url('~statics/font/helveticaneueultralight.ttf');
}

@font-face {
  font-family: 'adsgo-medium';
  src: url('~statics/font/helveticaneuemedium.ttf');
}

@font-face {
  font-family: 'aia-font-italic';
  src: url('~statics/font/helveticaneueitalic.ttf');
}

@font-face {
  font-family: 'aia-font-bebas-bold';
  src: url('~statics/font/UTMBebas.ttf');
}

@media screen and (max-device-width: 1920px) {
  .title-size {
    font-size: $fontSize30;
  }

  .sub-title-size {
    font-size: 20px;
  }

  .sub-title {
    font-size: 16px;
  }

  body {
    background-color: #F3F6F9;
    color: rgb(109, 109, 109);
    font-family: aia-font-light;
    font-size: 16px;
  }
}

@media screen and (max-device-width: 1366px) {
  .title-size {
    font-size: $fontSize25;
  }

  .sub-title-size {
    font-size: 16px;
  }

  .sub-title {
    font-size: 14px;
  }

  body {
    background-color: #F3F6F9;
    color: rgb(109, 109, 109);
    font-family: aia-font-light;
    font-size: 14px;
  }
}

@media screen and (max-device-width: 1280px) {
  .title-size {
    font-size: $fontSize25;
  }

  .sub-title-size {
    font-size: 16px;
  }

  .sub-title {
    font-size: 14px;
  }

  body {
    background-color: #F3F6F9;
    color: rgb(109, 109, 109);
    font-family: aia-font-light;
    font-size: 14px;
  }
}

.flex-menu {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  max-width: $menuWidth;
  max-height: 100%;
  box-sizing: border-box;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  span {
    opacity: 1;
  }
}

.flex-menu .icon-background {
  height: 40px;
}

.flex-menu-collapse {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  max-width: $menuWidthCollapse;
  max-height: 100%;
  box-sizing: border-box;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  span {
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
    opacity: 0;
  }
}

.flex-menu-collapse .icon-background {
  height: 20px;
}

.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.text-ellipsis-2 {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
}

.text-ellipsis-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.text-capitalize {
  text-transform: capitalize;
}

.auto-margin {
  margin: auto;
}

.left-margin {
  margin-left: 7%;
}

.right-margin {
  margin-right: 7%;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.app-layout-margin {
  padding: 30px 30px;
}

.title-size {
  font-family: aia-font-light;
  text-align: center;
  text-transform: uppercase;
  span:first-child {
    color: $red145;
  }
}

.text-bold {
  font-weight: bold;
}

.font-size-15 {
  font-size: 15pt;
}

a {
  cursor: pointer;
}

button, .md-button {
  //cursor: pointer;
  //background-color: $grayBreadcrumb;
  //border: 1px solid rgba(206, 206, 206, 0.5);
  //border-radius: 4px;
  //font-family: aia-font-light;
}

hr {
  margin: 10px 0;
  border-top: 1px solid #eee;
}

div {
  outline: 0;
}


//asd go global
.section-header{
  color: $primary;
  font-family: adsgo-medium;
  font-size: 25px;
  padding-bottom: 20px;
}
.panel-default {
  border-color: #e2edeb;
}
.panel {
  margin-bottom: 20px;
  background-color: $white;
  border: 1px solid transparent;
  border-radius: 2px;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
  .panel-heading{
    background: none;
    border: 0;
  }
  .panel-row{
    padding: 10px 30px;
  }
}
.tb-adsgo{
  .md-button{
    margin:0;
  }
  .img-chien-dich{
    width:56px;
  }
}

.btn-more-add{
  position: absolute;
  right: 150px;
  top: -38px;
  .btn-add-list{
    background-color: $primary;
  }
}
.btn-adsgo{
  background-color: $primary;
  color: white;
}
.btn-ogrange{
  background-color: $orangef1;
  color: white;
}
.btn-apply{
  float:right;
}
.btn-right{
  float: right;
}

