<div class="customer-view">
  <h3 class="section-header">
    Chi tiết khách hàng
  </h3>
  <div class=" panel panel-defauld panel-minimal">
    <div class="pannel-body row panel-row">
      <div class="col-md-8 company-infor">
        <div class="row">
          <span class="col-md-5"><img class="view-logo-company" src="{{vm.customer.logo}}"></span>
          <div class="customer-infor col-md-7">
            <p>Tên công ty: {{vm.customer.tenCongTy}}</p>
            <p>Số điện thoại: {{vm.customer.sdt}}</p>
            <p>Địa chỉ: {{vm.customer.diaChi}}</p>
            <div class="sum-company-campaign"><h4>Tổng chiến dịch <span class="lable">{{vm.countAllItem}}</span></h4></div>
          </div>
        </div>

      </div>
      <div class="col-md-4 contact-point">
        <h4>Người liên hệ</h4>
        <p>{{vm.customer.nguoiLienHe}}</p>
        <p>{{vm.customer.sdtNguoiLienHe}}</p>
        <p>{{vm.customer.chucVu}}</p>
      </div>
    </div>
  </div>

  <div class=" panel panel-defauld panel-minimal">
    <div class="pannel-body panel-row">
      <div class="customer-campaign-list">
        <h3 class="campaign-title">Danh sách các chiến dịch</h3>
        <div class="table-responsive">
          <table class="table no-margin tb-adsgo table-hover">
            <thead>
            <tr>
              <th>Ảnh</th>
              <th>Chiến dịch</th>
              <th>Loại quảng cáo</th>
              <th>Ngày bắt đầu</th>
              <th>Ngày dừng</th>
              <th>Khu vực</th>
              <th>SL xe</th>
              <th>Trạng thái</th>
              <th>Tùy chỉnh</th>
              <th>Nhãn</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="cp in vm.listCampaigns">
              <td><img class="img-chien-dich" src="/statics/img/hinh-chien-dich/galaxy8.jpg"></td>
              <td><a href="/chien-dich/view/{{cp.id}}">{{cp.tenChienDich}}</a></td>
              <td>{{cp.quangCao.loaiQuangCao.tenLoaiQuangCao}}</td>
              <td>{{cp.thoiGianBatDau}}</td>
              <td>{{cp.thoiGianKetThuc}}</td>
              <td>{{cp.khuVuc}}</td>
              <td>{{cp.soLuongXe}}</td>
              <td>{{cp.trangThaiChienDich}}</td>
              <td>
                <md-button class="md-icon-button md-primary" aria-label="edit" ng-click="vm.goEampaign(cp.id)">
                  <md-icon class="fa fa-pencil-square-o"></md-icon>
                </md-button>
                <md-button class="md-icon-button md-primary" aria-label="delete">
                  <md-icon ng-click="vm.deleteCampaign(cp.id)" class="fa fa-trash-o"></md-icon>
                </md-button>
              </td>
              <td>
                <div ng-repeat="lb in cp.quangCao.label">
                  <span ng-if="lb == 'running'" class="label label-success" >{{lb}}</span>
                  <span ng-if="lb == 'waiting'" class="label label-warning" >{{lb}}</span>
                  <span ng-if="lb == 'Complete'" class="label label-info" >{{lb}}</span>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="row">
            <p class="col-md-4">Tất cả: {{vm.countAllItem}} chiến dịch</p>
            <pagination class="col-md-8" total-element="vm.countAllItem" on-page-change="vm.changePage(page)" on-change-num-item="vm.changeItemPerPage(itemPerPage)"></pagination>
          </div>
        </div>
        <span class="label label-success">Đang Chạy</span>
        <span class="label label-warning">Đang Chờ</span>
        <!-- <span class="label label-default">Đã Xóa</span> -->
        <span class="label label-info">Hoàn Thành</span>
      </div>
    </div>
  </div>
</div>

