@import '~themes/app.variables.scss';
.customer-view{
  .company-infor{
    .view-logo-company{
      width: 96%;
      padding: 10px;
    }
    .customer-infor{
      padding: 20px 0;
    }
    .sum-company-campaign{
      background: $whiteF3;
      margin: 0 20px 0 0;
      h4{
        padding: 20px;
        span{
          border: 1px solid $grayAC;
          padding: 10px 50px;
          margin-left: 25%;
        }
      }

    }
  }
  .contact-point{
    font-family: adsgo-medium;
    h4{
      text-align: center;
      border-bottom: 1px solid $grayAC;
      padding-bottom:10px ;
      font-family: adsgo-medium;
    }
  }
  .customer-campaign-list{
    .campaign-title{
      text-align: center;
      padding-bottom: 20px;
      font-family: adsgo-medium;
    }
  }
}
