@import '~themes/app.variables.scss';
.report-car{
  .img-report{
    width: 40px;
    height: 30px;
    margin-right: 10px;
  }
}
.review-car{
  img{
    width: 100%;
  }
  .main-car{
    padding-right: 0;
  }
  .menu-car{
    img{
      margin-bottom: 10px;
    }
    .active{
      border: 3px solid $orangef0;
    }
  }
}