<div class="report-car">
    <div class="clearfix">
        <h2 class="section-header">Báo cáo xe</h2>
    </div>
    <md-card md-theme="primary">
        <md-card-content>
            <div class="row">
                <div class="col-md-6">
                    <md-input-container class="md-block col-md-3">
                        <label>Loại </label>
                        <md-select ng-model="vm.loaixeselected" ng-change="vm.applyFilter()">
                            <md-option ng-repeat="loaixe in vm.loaixe" value="{{loaixe}}">
                                {{loaixe != null? loaixe : '-- Tất cả --'}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block col-md-3" style="padding: 0;">
                        <label for="input_56">Biển số xe</label>
                        <input ng-model="vm.bienso" id="input_56" aria-invalid="false" ng-keyup="vm.searchChanged($event)">
                        <div class="md-errors-spacer"></div>
                    </md-input-container>
                </div>
                <div class="col-md-6">
                    <md-button class="btn-adsgo" style="float: right;" ng-click="vm.applyFilter()">Áp dụng</md-button>
                </div>
            </div>


            <md-table-container>
                <table md-table multiple ng-model="vm.selected" class="tb-adsgo">
                    <thead md-head md-order="myOrder">
                        <tr md-row>
                            <th md-column>STT</th>
                            <th md-column md-order-by="bienKiemSoat">Biển Số</th>
                            <th md-column md-order-by="soCho">Loại Xe</th>
                            <th md-column md-order-by="tongView">Tổng Lượt Xem</th>
                            <th md-column md-order-by="tongKM">Tổng Km</th>
                            <th md-column>Hình ảnh</th>
                            <th md-column md-order-by="ngayChup">Ngày Chụp</th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row ng-repeat="reportCars in vm.listXe | orderBy: myOrder | filter: vm.pagingConfig.filterLoaiXe | filter: vm.pagingConfig.filterBienSo | limitTo: vm.pagingConfig.limit : (vm.pagingConfig.page -1) * vm.pagingConfig.limit">
                            <td md-cell>{{$index +1}}</td>
                            <td md-cell>{{reportCars.bienKiemSoat}}</td>
                            <td md-cell>{{reportCars.soCho}}</td>
                            <td md-cell>{{reportCars.tongView}}</td>
                            <td md-cell>{{reportCars.tongKM}}</td>
                            <td md-cell>
                                <img ng-click="vm.showPrerenderedDialog($event, reportCars.urlReport, imgLink)" class='img-report' ng-repeat="imgLink in reportCars.urlReport" style="width: 40px; height: 28px" ng-src="{{imgLink}}">
                            </td>
                            <td md-cell>{{reportCars.ngayChup}}</td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
            <md-table-pagination md-limit="vm.pagingConfig.limit" md-limit-options="[20, 50, 100]" md-page="vm.pagingConfig.page" md-total="{{(vm.listXe | filter: vm.pagingConfig.filterLoaiXe | filter: vm.pagingConfig.filterBienSo).length}}"
                md-page-select md-label="{ page: 'Trang', rowsPerPage: 'Số dòng mỗi trang', of: 'của' }"></md-table-pagination>
            <!--check md-table-->

            <div style="visibility: hidden">
                <div class="md-dialog-container review-car" id="viewCar">
                    <md-dialog layout-padding>
                        <div class="row">
                            <div class="col-md-10 col-xs-10 col-sm-10 col-lg-10 main-car">
                                <img src="{{vm.currentImage}}">
                            </div>
                            <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2 menu-car" ng-repeat="img in vm.itemImage">
                                <img ng-click="vm.changeImage(img)" src="{{img}}">
                            </div>
                        </div>
                    </md-dialog>
                </div>
            </div>

        </md-card-content>
    </md-card>
</div>
