/* unvisited link */
a:link {
  color: green;
}

/* visited link */
a:visited {
  color: #281aa1;
}

/* mouse over link */
a:hover {
  color: #0a0202;
}

/* selected link */
a:active {
  color: #353530;
}
 

 /*# sourceMappingURL= enroll.css.map */