@import '~themes/app.variables.scss';

#course-review {
  .md-button {
    width: 100%;
    text-transform: capitalize;
    margin: 0;
  }
  .md-button > a {
    position: relative;
    pointer-events: none;
    color: inherit;
    z-index: 1;
  }

  @media screen and (max-device-width: 1920px) {
    .md-button {
      font-size: $fontSize20;
      height: 70px;
    }
  }

  @media screen and (max-device-width: 1366px) {
    .md-button {
      font-size: $fontSize16;
      height: 50px;
    }
  }

  @media screen and (max-device-width: 1280px) {
    .md-button {
      font-size: $fontSize16;
      height: 50px;
    }
  }
}


