@import '~themes/app.variables.scss';
.home{
  .title-card-adsgo{
    .status-dot{
      padding: 0 15px;
      .status-dot-color{
        width: 13px;
        height: 13px;
        display: inline-block;
        border-radius: 50%;
        margin-right: 13px;
      }
    }
  }
  .card-item {
    padding: 0px;
  }
  .title {
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: white;
    padding: 25px 0px;
  }
  .card-sum{
    .counter{
      color: $gray54;
      text-align: center;
      padding: 25px 0;
    }
    .title-card-adsgo p{
      color: white;
    }
    .title-view{
      background-color: $green52;
    }
    .title-km{
      background-color: $green64;
    }
    .title-car{
      background-color: $orangef0;
    }
    .title-pay{
      background-color: $redfb;
    }
  }
  .progress-bar-adsgo{
    position: relative;
    height: 50px;
    .anchor{
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #fff;
      display: block;
      position: absolute;

      z-index: 1;
    }
    .anchor-left{
      top: -7px;
      border: 7px solid $primary;
    }
    .anchor-right{
      top: -7px;
      right: 0;
    }
    .anchor-center{
      border: 7px solid $redfe;
      top: -7px;
    }
  }
  .container-progress{
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 5px;
    border-radius: 4px;
    background-color: $grayb2;
    -webkit-transform: translate(0, 0) scale(1, 1);
    transform: translate(0, 0) scale(1, 1);
    .bonus-progress{
      position: absolute;
      height: 5px;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: $orangef7;
      border-radius: 4px
    }
    .progress-running{
      position: absolute;
      height: 5px;
      left: 0;
      top: 0;
      bottom: 0;
      background-color: $primary;
      border-radius: 4px

    }
  }
  .tooltiptext {
    position: absolute;
    width: 120px;
    background-color: #2c9c52;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
    top: 10px;
    box-shadow: 1px 2px 4px 0px #888888;
  }
  .tooltip-bottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #2c9c52 transparent;
  }


  .gray-title{
    background-color: $graye9;
  }
  .content-card{
    padding-top: 30px;
  }
  .card-advertise{
    img{
      width: 100%;
      margin-top: 16px;
    }
  }
  .card-advertise-real{
    .img-left{
      padding-right: 0;
      padding-top: 15px;
    }
    .img-right{
      padding-top: 15px;
      img{
        padding-bottom: 10px;
      }
    }
    img{
      width: 100%;
    }

  }

  .location-chart{
    .title-location-list{
      text-align: center;
      text-transform: uppercase;
      color: $gray45;
      border-bottom: 1px solid $grayb6;
      padding-bottom: 10px;
    }
    ul{
      list-style: none;
      li{
        padding-bottom: 18px;
      }
    }
    .col-md-3{
      padding-left: 20px;
      padding-right: 20px;
    }
    .chart-color{
      border-radius: 50%;
      width: 8px;
      height: 8px;
      display: inline-block;
      background-color: red;
      margin-right: 8px;
    }
    .location-run{
      color: $gray79;
    }
    .persent-location{
      float: right;
      color: $gray45;
      font-size: 15px;

    }
  }
}
