<div class="home">
  <div class="row">
    <div class="col-md-6 card-item">
      <md-card class="card-sum">
        <md-card-title class="title-card-adsgo title-view">
          <span class=title>TỔNG CHIẾN DỊCH ĐANG CHẠY</span>
        </md-card-title>
        <md-card-content>
          <h1 class="counter" value="0" ng-count-to="{{vm.overviewInfo.tongCDDangChay}}" duration="{{vm.counterDuration}}" filter="number"></h1>
        </md-card-content>
      </md-card>
    </div>
    <div class="col-md-6 card-item">
      <md-card class="card-sum">
        <md-card-title class="title-card-adsgo title-km">
          <span class=title>TỔNG SỐ XE TRONG CHIẾN DỊCH</span>
        </md-card-title>
        <md-card-content>
          <h1 class="counter" value="0" ng-count-to="{{vm.overviewInfo.tongXeTrongChienDich}}" duration="{{vm.counterDuration}}" filter="number"></h1>
        </md-card-content>
      </md-card>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 card-item">
      <md-card class="card-sum">
        <md-card-title class="title-card-adsgo title-car">
          <span class=title>TỔNG CHIẾN DỊCH ĐANG CHỜ</span>
        </md-card-title>
        <md-card-content>
          <h1 class="counter" value="0" ng-count-to="{{vm.overviewInfo.tongCDDangCho}}" duration="{{vm.counterDuration}}" filter="number"></h1>
        </md-card-content>
      </md-card>
    </div>
    <div class="col-md-6 card-item">
      <md-card class="card-sum">
        <md-card-title class="title-card-adsgo title-pay">
          <span class=title>TỔNG SỐ CÔNG TY ĐỐI TÁC</span>
        </md-card-title>
        <md-card-content>
          <h1 class="counter" value="0" ng-count-to="{{vm.overviewInfo.tongDoiTac}}" duration="{{vm.counterDuration}}" filter="number"></h1>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>