@import '~themes/app.variables.scss';

.campaign {
  .btn-add-new{
    position: absolute;
    right: 150px;
    top: -38px;
    background: $primary;
  }
  .deleted{
    color: $gray60;
  }
  td a{
    text-decoration: none;
  }
  .campaign-name{
    font-size: 1.1em;
    font-weight: bold;
  }
  .campaign-name:hover{
    color: $blue30;
  }
  .search{
    float: right;
  }
}

