<div class="campaign">
  <div class="row">
    <div class="col-lg-7 clearfix">
      <h2 class="section-header">Quản lý chiến dịch</h2>
    </div>
    <md-input-container class="col-lg-4 search">
      <md-icon class="material-icons">&#xE8B6;</md-icon>
      <input ng-model="vm.name" placeholder="Search here" ng-keydown="$event.keyCode === 13 && vm.applyFilter()">
    </md-input-container>
    <div class="col-md-12">
      <div class="panel panel-default panel-minimal">
        <div class="panel-body">
          <md-button class="md-fab btn-add-new" aria-label="Eat cake" ng-click="vm.goAddScreen()">
            <md-icon>add</md-icon>
          </md-button>
          <div layout-wrap layout="row">
            <div layout="row" flex="90">
              <md-input-container>
                <label>Từ ngày</label>
                <md-datepicker ng-model="vm.date.from"></md-datepicker>
              </md-input-container>
              <md-input-container>
                <label>Đến </label>
                <md-datepicker ng-model="vm.date.to"></md-datepicker>
              </md-input-container>
              <md-input-container class="md-block">
                <label>Thành phố</label>
                <md-select ng-model="vm.area">
                  <md-option ng-repeat="city in vm.citys" value="{{city}}">
                    {{city}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
            <div layout-wrap flex layout-align="end none">
              <md-button class="md-raised" ng-click="vm.applyFilter()">Áp dụng</md-button>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table no-margin tb-adsgo table-hover">
              <thead>
              <tr>
                <th>Ảnh</th>
                <th>Chiến dịch</th>
                <th>Công ty</th>
                <th>Ngày bắt đầu</th>
                <th>Ngày dừng</th>
                <th>Khu vực</th>
                <th>SL xe</th>
                <th>Trạng thái</th>
                <th>Tùy chỉnh</th>
                <th>Nhãn</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="cp in vm.listCampaigns" ng-class="cp.label.indexOf('Unactive') > -1 ? 'deleted' : ''">
                <td><a href="/chien-dich/view/{{cp.id}}"><img class="img-chien-dich" src="{{cp.listImgs['1']}}"></a></td>
                <td><a href="/chien-dich/view/{{cp.id}}"><span class="campaign-name">{{cp.tenChienDich}}</span></a></td>
                <td>{{cp.tenCongTy}}</td>
                <td>{{cp.thoiGianBatDau}}</td>
                <td>{{cp.thoiGianKetThuc}}</td>
                <td>{{cp.khuVuc}}</td>
                <td>{{cp.soLuongXe}}</td>
                <td>{{cp.trangThaiChienDich}}</td>
                <td>
                  <md-button class="md-icon-button md-primary" aria-label="edit" ng-click="vm.goEditCampaign(cp.id)">
                    <md-icon class="fa fa-pencil-square-o"></md-icon>
                  </md-button>
                  <md-button class="md-icon-button md-primary" aria-label="delete">
                    <md-icon ng-click="vm.deleteCampaign(cp.id)" class="fa fa-trash-o"></md-icon>
                  </md-button></td>
                <td>
                  <div ng-repeat="lb in cp.label  track by $index">
                    <span ng-if="lb == vm.CAMPAIGN_STATUS.DANG_CHAY" class="label label-success" >{{lb}}</span>
                    <span ng-if="lb == vm.CAMPAIGN_STATUS.DANG_CHO" class="label label-warning" >{{lb}}</span>
                    <span ng-if="lb == vm.CAMPAIGN_STATUS.HOAN_THANH" class="label label-info" >{{lb}}</span>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <div class="row">
            <p class="col-md-4">Tất cả: {{vm.countAllItem}} chiến dịch</p>
            <pagination class="col-md-8" total-element="vm.countAllItem" on-page-change="vm.changePage(page)" on-change-num-item="vm.changeItemPerPage(itemPerPage)"></pagination>
          </div>
        </div>
      </div>
      <span class="label label-success">Đang Chạy</span>
      <span class="label label-warning">Đang Chờ</span>
      <!-- <span class="label label-default">Đã Xóa</span> -->
      <span class="label label-info">Hoàn Thành</span>
    </div>
  </div>
</div>

