<div class="car-add">
  <h3 class="section-header">
    Sửa thông tin tài xế
  </h3>
  <form name="myForm" novalidate ng-submit="myForm.$valid && vm.addDriver()">
      <div class="panel panel-defauld panel-minimal">
        <div class="panel-body row">
          <div class="col-md-5">
            <md-input-container class="md-block">
              <label>CMND</label>
              <input type="text" name="cmnd" ng-model="vm.driver.cmnd" minlength="9" required  maxlength="12" ng-disabled="true">
            </md-input-container>
            <md-input-container class="md-block">
              <label>Tên tài xế</label>
              <input type="text" name="tenTaiXe" required ng-model="vm.driver.tenTaiXe" 
                required minlength="3" md-maxlength="50">
              <div ng-messages="myForm.tenTaiXe.$error">
                <div ng-message="required">Vui lòng nhập tên tài xế!</div>
                <div ng-message="minlength">Tên tối thiểu 3 kí tự!</div>
                <div ng-message="md-maxlength">Tên không vượt quá 50 kí tự!</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Điện thoại</label>
              <input type="text" ng-keypress="vm.preventNumberInput($event)" name="sdt" required minlength="10" maxlength="11" ng-model="vm.driver.sdt" required>
              <div ng-messages="myForm.sdt.$error">
                <div ng-message="required">Vui lòng nhập số điện thoại!</div>
                <div ng-message="minlength">Sđt tối thiểu 10 số!</div>
                <div ng-message="maxlength">Sđt tối đa 11 số!</div>
              </div>
            </md-input-container>
            <div ng-if="!vm.isDisplayPassword">
              <label class="mk-label">Mật Khẩu *</label><br>
              <md-button class="md-raised action-button" ng-click="vm.isDisplayPassword = !vm.isDisplayPassword">Hiển thị mật khẩu</md-button>
            </div>
            <md-input-container class="md-block" ng-if="vm.isDisplayPassword">
              <label>Mật Khẩu</label>
              <input type="password" name="password" required minlength="4" maxlength="255" ng-model="vm.driver.password" required>
              <div ng-messages="myForm.password.$error">
                <div ng-message="required">Vui lòng nhập mật khẩu!</div>
                <div ng-message="minlength">Mật khẩu tối thiểu 4 kí tự!</div>
                <div ng-message="maxlength">Mật khẩu tối đa 255 kí tự!</div>
              </div>
            </md-input-container>
          <!-- <md-input-container class="input-full">
            <label>Chọn xe</label>
            <md-select ng-model="vm.car.thanhPho" name="ThanhPho" required>
              <md-option ng-repeat="city in vm.citys" value="{{city}}">
                {{city}}
              </md-option>
            </md-select>
            <div ng-messages="myForm.ThanhPho.$error">
            </div>
          </md-input-container> -->
        </div>
        <section class="col-md-12">
          <md-button class="md-raised" ng-click="vm.goDriverDashboard()">Hủy</md-button>
          <md-button class="md-raised md-primary" type="submit" ng-click="vm.editDriver()">Lưu</md-button>
        </section>
      </div>
    </div>
  </form>
</div>
