<!DOCTYPE html>
<ul class="nav-left list-unstyled">
  <li>
    <md-button class="header-btn" ng-click="vm.showHideModal()"><i class="fa fa-bars" aria-hidden="true"></i>
    </md-button>
  </li>
  <li class="visible-md visible-lg pull-right">

    <!--<img src="..." alt="..." class="img-circle">-->
  </li>
</ul>
