@import '~themes/app.variables.scss';
.nav-top{
  background: $white;
}
.nav-left, .nav-right{
  margin: 0;
  color: black;
  li{
    display: inline-block;
    float: left;
    color: $gray6c;
    .md-menu-bar{
      margin: 0;
      padding: 0;
      md-menu{
        .header-btn{
          min-height: 64px;
        }
        .badge{
          background-color: transparent;
          position: absolute;
          top: 6px;
          right: 3px;
          color: red;
          display: inline-block;
          min-width: 10px;
          padding: 3px 7px;
          font-size: 12px;
          font-weight: bold;
          line-height: 1;
          vertical-align: middle;
          white-space: nowrap;
          text-align: center;
          border-radius: 10px;
        }
      }
    }
  }
  .header-btn.md-button{
    margin: 0;
    line-height: 64px;
    min-width: 64px;
    border-radius: 0;
  }
}

.search-box{
  max-width: 180px;
  padding: 13px 0;
  .input-group{
    position: relative;
    display: table;
    border-collapse: separate;
    .input-group-addon{
      padding: 5px 0 4px 12px;
      border: none;
      background-color: transparent;
    }
    .form-control{
      position: relative;
      z-index: 2;
      float: left;
      width: 100%;
      margin-bottom: 0;
      border: none;
      box-shadow: none;
    }
  }
  .input-bar{
    position: absolute;
    display: block;
    width: 90%;
    bottom: 0;
    left: 5%;
    z-index: 9;
    &:before,&:after{
      position: absolute;
      content: '';
      height: 1px;
      width: 0;
      bottom: 1px;
      -webkit-transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
      transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
      background: #3D4051;
    }
    &:before{
      left: 50%;
    }
    &:after{
      right: 50%;
    }

  }
  input{
    &:focus{
      ~ .input-bar
      &:before,&:after{
        width: 50%;
      }
    }

  }
}
