<div class="campaign images-control">
  <div class="row">
    <div class="col-lg-7 clearfix">
      <h2 class="section-header">Xử lý yêu cầu hình</h2>
    </div>
    <div class="col-md-12">
      <div class="panel panel-default panel-minimal">
        <div class="panel-body">
          <div class="container-fluid">
            <div class="infor-car">
              <div class="row-car row-car1">
                <p>chiến dịch: {{vm.imageReport.tenChienDich}}</p>
                <p>Trạng thái: {{vm.imageReport.tinhTrang}}</p>
                <p>Người tạo: {{vm.imageReport.nguoiTao}}</p>
                <p>Ngày tạo: {{vm.imageReport.ngayTao}}</p>
              </div>

            </div>
            <div class="infor-car">
              <div class="row-car">
                <p class="title-row-car">Tổng xe yêu cầu: {{vm.imageReport.soLuongXe}}</p>
                <div>
                  <p class="status status-left status-approved"><span class="status-point point-left">{{vm.count.da_duyet}}</span> Xe đã duyệt</p>
                  <p class="status status-right status-reject">Xe bị từ chối ảnh <span class="status-point point-right">{{vm.count.tu_choi}}</span></p>
                  <p class="status status-left status-noImg"><span class="status-point point-left">{{vm.count.chua_co_anh}}</span> Xe chưa có ảnh</p>
                  <p class="status status-right status-wating">Xe chưa duyệt <span class="status-point point-right">{{vm.count.chua_duyet}}</span></p>
                </div>
              </div>

            </div>
          </div>

          <div layout-wrap layout="row">
            <div layout="row" flex="80">
              <md-input-container class="md-block">
                <label>Nhập tên/số xe</label>
                <input ng-model="vm.pagingConfig.filterBienKiemSoat">
              </md-input-container>
              <md-input-container class="md-block">
                <label>Tình trạng</label>
                <md-select ng-model="vm.pagingConfig.filterTinhTrang" name="tinhtrang">
                  <md-option ng-value="">--Tất cả--</md-option>
                  <md-option ng-value="item" ng-repeat="item in vm.DEFAULT_VALUE.DRIVER_REPORT_STT">{{item}}</md-option>
                </md-select>
              </md-input-container>
            </div>
            <div layout="row" flex layout-align="end end">
              <md-button class="md-raised" ng-click="vm.applyFilter()">Áp dụng</md-button>
            </div>
          </div>

          <div class="table-responsive">
              <md-table-container>
                <table md-table class="tb-adsgo">
                  <thead md-head md-order="myOrder">
                  <tr md-row>
                    <th md-column>STT</th>
                    <th md-column md-order-by="tenChienDich">Tên tài xế</th>
                    <th md-column md-order-by="bienKiemSoat">Số Xe</th>
                    <th md-column md-order-by="soQuanLy">Số quản lý</th>
                    <th md-column md-order-by="baiXe">Bãi xe</th>
                    <th md-column md-order-by="sdt">Điện thoại</th>
                    <th md-column md-order-by="trangThaiReport">Tình trạng</th>
                    <th md-column md-order-by="soLanYeuCau">Nhãn</th>
                    <th md-column md-order-by="soLanYeuCau">Xem/Đăng ảnh</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr md-row md-select="report.bienKiemSoat" md-select-id="bienKiemSoat" ng-repeat="report in vm.litImageReportDetail | orderBy: myOrder | filter: vm.pagingConfig.filterBienKiemSoat | filter: vm.pagingConfig.filterTinhTrang | limitTo: vm.pagingConfig.limit : (vm.pagingConfig.page -1) * vm.pagingConfig.limit">
                    <td md-cell>{{(vm.pagingConfig.page - 1 ) * vm.pagingConfig.limit + $index + 1}}</td>
                    <td md-cell>{{report.tenChienDich}}</td>
                    <td md-cell>{{report.bienKiemSoat}}</td>
                    <td md-cell>{{report.soQuanLy}}</td>
                    <td md-cell>{{report.baiXe}}</td>
                    <td md-cell>{{report.sdt}}</td>
                    <td md-cell>
                        <span ng-if="report.trangThaiReport === vm.DRIVER_REPORT_STT.CHUA_CO_ANH" class="stt-not-image">{{report.trangThaiReport}}</span>
                        <span ng-if="report.trangThaiReport === vm.DRIVER_REPORT_STT.CHUA_DUYET" class="stt-not-approve">{{report.trangThaiReport}}</span>
                        <span ng-if="report.trangThaiReport === vm.DRIVER_REPORT_STT.DA_DUYET" class="stt-approved">{{report.trangThaiReport}}</span>
                        <span ng-if="report.trangThaiReport === vm.DRIVER_REPORT_STT.TU_CHOI" class="stt-rejected">{{report.trangThaiReport}}</span>
                    </td>
                    <td md-cell>
                        <span ng-if="report.label === vm.REPORT_STATUS.DANG_CHO" class="label lable-status label-warning">{{report.label}}</span>
                        <!-- <span ng-if="report.label === 'Đang tiến hành'" class="label lable-status label-success">{{report.label}}</span> -->
                        <span ng-if="report.label === vm.REPORT_STATUS.DA_CHUP" class="label lable-status label-info">{{report.label}}</span>
                        <span ng-if="report.label === vm.REPORT_STATUS.BI_HUY" class="label lable-status label-danger">{{report.label}}</span>
                    </td>
                    <td md-cell>
                      <md-button ng-disabled="report.trangThaiReport === vm.DRIVER_REPORT_STT.CHUA_CO_ANH" class="md-icon-button md-primary" aria-label="edit" ng-click="vm.showPrerenderedDialog($event, report)">
                        <md-icon class="fa fa-eye"></md-icon>
                      </md-button>
                      <md-button ng-disabled="vm.imageReport.tinhTrang !== vm.IMAGE_REQUEST_STT.DANG_TIEN_HANH" class="md-icon-button md-primary" aria-label="edit" ng-click="vm.showUploadDialog($event, report)">
                          <md-icon class="fa fa-upload"></md-icon>
                        </md-button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </md-table-container>
            </div>
            <br><br>
            <div class="row">
              <p class="col-md-4">Tất cả: {{vm.litImageReportDetail.length}} yêu cầu</p>
              <md-table-pagination md-limit="vm.pagingConfig.limit" md-limit-options="[20, 50, 100]" md-page="vm.pagingConfig.page" md-total="{{(vm.litImageReportDetail | filter: vm.pagingConfig.filterBienKiemSoat | filter: vm.pagingConfig.filterTinhTrang).length}}"
                  md-page-select md-label="{ page: 'Trang', rowsPerPage: 'Số dòng mỗi trang', of: 'của' }"></md-table-pagination>
            </div>
            <md-button ng-disabled="vm.imageReport.tinhTrang === vm.IMAGE_REQUEST_STT.HOAN_THANH" class="md-raised btn-complete" ng-click="vm.completeRequest()">Kết Thúc</md-button>

        </div>
      </div>
      <span class="label label-warning">{{vm.REPORT_STATUS.DANG_CHO}}</span>
      <span class="label label-info">{{vm.REPORT_STATUS.DA_CHUP}}</span>
      <span class="label label-danger">{{vm.REPORT_STATUS.BI_HUY}}</span>
      <!-- <span class="label label-danger">từ chối</span> -->

    </div>
  </div>

  <div style="visibility: hidden">
      <div class="md-dialog-container review-car" id="viewCar">
          <md-dialog layout-padding>
              <div class="row">
                  <div class="col-md-10 col-xs-10 col-sm-10 col-lg-10 main-car">
                      <img src="{{vm.currentImage}}">
                  </div>
                  <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2 menu-car">
                      <img ng-repeat="img in vm.itemImage" ng-click="vm.changeImage(img)" src="{{img}}">
                  </div>
              </div>
              <md-dialog-actions class="image-report-action" layout="row">
                  <md-button class="md-raised" ng-disabled="vm.showingReport.trangThaiReport !== vm.DRIVER_REPORT_STT.CHUA_DUYET" ng-click="vm.rejectRequest()">
                   Từ Chối Yêu Cầu
                  </md-button>
                  <md-button class="md-raised accept-button" ng-disabled="vm.showingReport.trangThaiReport !== vm.DRIVER_REPORT_STT.CHUA_DUYET" ng-click="vm.approveRequest(true)">
                    Duyệt Yêu Cầu
                  </md-button>
                </md-dialog-actions>
          </md-dialog>
      </div>


      <div class="md-dialog-container review-car" id="uploadImages">
          <md-dialog layout-padding>
              <div class="row">
                  <div class="col-md-12">
                    <div layout="">
                      <div flex>
                        <upload position="Hình 1" source="{{vm.requestReport.urlReportShow['1']}}" on-selected="vm.onChangeImage1(image)" title="hinh_1"></upload>
                      </div>
                      <div flex>
                        <upload position="Hình 2" source="{{vm.requestReport.urlReportShow['2']}}" on-selected="vm.onChangeImage2(image)" title="hinh_2"></upload>
                      </div>
                      <div flex>
                        <upload position="Hình 3" source="{{vm.requestReport.urlReportShow['3']}}" on-selected="vm.onChangeImage3(image)" title="hinh_3"></upload>
                      </div>
                    </div>
                  </div>
              </div>
              <md-dialog-actions class="image-report-action" layout="row">
                  <md-button class="md-raised" ng-click="vm.cancel()">
                   Hủy
                  </md-button>
                  <md-button class="md-raised accept-button" ng-disabled="!vm.canUpload()" ng-click="vm.uploadImages()">
                    Cập Nhật
                  </md-button>
                </md-dialog-actions>
          </md-dialog>
      </div>

  </div>

</div>


