@import '~themes/app.variables.scss';
.images-control{
  .infor-car{
    width: 50%;
    display: inline-grid;
    float: left;
    .row-car{
      background-color: #f2f2f2;
      padding: 10px 0;
      .title-row-car{
        font-size: 20px;
        text-align: center;
        border-bottom: 1px solid #999999;
        margin: 0 20% 10px 20%;
      }
    }
    .row-car1{
      p{
        padding-left: 20%;
        margin: 0 0 13px;
      }
    }
    .status{
      width: 50%;
      float: left;
      display: inline-block;
      .status-point{
        width: 50px;
        background-color: green;
        padding: 8px;
        color: white;
        display: inline-block;
      }
    }
    .status-left{
      .status-point{
        border-radius: 0 20px 20px 0;
      }
    }
    .status-right{
      text-align: right;
      .status-point{
        border-radius: 20px 0 0 20px;
      }
    }
    .status-approved{
      color: #0a9947;
      .status-point{
        background-color: #0a9947;
      }
    }
    .status-reject{
      color: #fe4e21;
      .status-point{
        background-color: #fe4e21;
      }
    }
    .status-noImg{
      color: #919191;
      .status-point{
        background-color: #919191;
      }
    }
    .status-wating{
      color: #f19320;
      .status-point{
        background-color: #f19320;
      }
    }
  }
  .infor-car:first-child{
    padding-right: 20px;
  }
  .infor-car:last-child{
    padding-left: 20px;
  }
  .stt-not-image {
    color: gray;
  }
  .stt-not-approve {
    color: orange;
  }
  .stt-approved {
    color: green;
  }
  .stt-rejected {
    color: red;
  }
  .btn-complete {
    color: white;
    background: rgb(255, 81, 0);
  }
  .btn-complete:hover :not(:disabled) {
    color: black;
  }
}
