<md-card>
  <img ngf-thumbnail="vm.image" class="md-card-image" alt="Washed Out">
  <img ngf-thumbnail="'{{vm.source}}'" class="md-card-image" alt="Washed Out" ng-if="vm.source !== '' && !vm.image">
  <md-card-title>
    <md-card-title-text>
      <div ngf-drop ngf-select ng-model="vm.image" class="drop-box" ngf-drag-over-class="'dragover'"
           ngf-allow-dir="true" accept="image/*" ng-if="!vm.image && vm.source === ''"
           ngf-pattern="'image/*'" ng-change="vm.onChange()">
        <i class="material-icons ic-upload-img">file_upload</i>
        <p>Drag and drop images here</p>
      </div>
      <p class="title-img">{{vm.position}}</p>
    </md-card-title-text>
  </md-card-title>
  <i ng-show="myForm.image3.$error.required">*required</i><br>
  <div class="action-remove-img">
    <md-card-actions layout="row" layout-align="start center" ng-if="vm.image || vm.source !== ''">
      <md-card-icon-actions>
        <md-button class="md-fab btn-remove-img" aria-label="Xoa" ng-click="vm.onDelete()"
                   required>
          <md-icon >clear</md-icon>
        </md-button>
      </md-card-icon-actions>
    </md-card-actions>
  </div>

  <!--
  <div ng-show="!vm.chiendich" >vui long nhap ten chien dich</div>
  -->
  <md-progress-linear ng-show="vm.image.progress >= 0" md-mode="determinate" value="{{vm.image.progress}}"></md-progress-linear>
</md-card>
