@import '~themes/app.variables.scss';

.progressLineardemoBasicUsage md-progress-linear {
  padding-top: 10px;
  margin-bottom: 20px;
}

.ic-upload-img {
  color: rgb(203, 203, 203);
}

md-card {
  position: relative;
  .title-img {
    text-align: center;
    padding-top: 20px;
    font-family: adsgo-medium;
  }
  .action-remove-img {
    display: none;
    transition: linear 20s;

  }
  md-card-actions {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    top: 0;
    background: rgba(86, 83, 83, 0.2);
    padding: 0;
    margin: 0;
    .btn-remove-img {
      display: block;
      margin: 0 auto !important;
    }
  }
  &:hover .action-remove-img {

    display: inline-block;
  }
  .md-card-image {
    max-width: 200px;
    max-height: 200px;
  }
}
