<!DOCTYPE html>
<!-- <ul id="nav">
  <li class="nav-title">Navigation</li>
  <li class="parent-list-item" ng-class="{active : vm.activeMenu === 'TongQuan'}">
    <md-button ng-href="#" ng-click="vm.setActive('TongQuan')"><i class="fa fa-home" aria-hidden="true"></i>Tổng quan</md-button>
  </li>
  <li class="parent-list-item" ng-class="{active : vm.activeMenu === 'QuanLyChienDich'}">
    <md-button ng-href="/chien-dich" ng-click="vm.setActive('QuanLyChienDich')"><i class="fa fa-road" aria-hidden="true"></i>Quản lý chiến dịch</md-button>
  </li>
  <li class="parent-list-item" ng-class="{active : vm.activeMenu === 'QuanLyXe'}">
    <md-button ng-href="/xe" ng-click="vm.setActive('QuanLyXe')"><i class="fa fa-taxi" aria-hidden="true"></i>Quản lý xe</md-button>
  </li>
  <li class="parent-list-item" ng-class="{active : vm.activeMenu === 'QuanLyTaiXe'}">
    <md-button ng-href="/tai-xe" ng-click="vm.setActive('QuanLyTaiXe')"><i class="fa fa-address-book" aria-hidden="true"></i>Quản lý tài xế </md-button>
  </li>
  <li class="parent-list-item" ng-class="{active : vm.activeMenu === 'QuanLyKhachHang'}">
    <md-button ng-href="/khach-hang" ng-click="vm.setActive('QuanLyKhachHang')"><i class="fa fa-id-card-o" aria-hidden="true"></i>Quản lý khách hàng</md-button>
  </li>
  <li class="parent-list-item" ng-class="{active : vm.activeMenu === 'QuanLyCauHinh'}">
    <md-button ng-href="/cau-hin" ng-click="vm.setActive('QuanLyCauHinh')"><i class="fa fa-picture-o" aria-hidden="true"></i>Quản lý yêu cầu hình</md-button>
  </li>
  <li class="parent-list-item" ng-class="{active : vm.activeMenu === 'TaiKhoanNoiBo'}">
    <md-button ng-href="/tai-khoan" ng-click="vm.setActive('TaiKhoanNoiBo')"><i class="fa fa-cog" aria-hidden="true"></i>Tài khoản nội bộ</md-button>
  </li>
</ul> -->

<ul id="nav">
  <li class="nav-title">Navigation</li>
  <li class="parent-list-item" ng-class="{active : vm.activeMenu === 'TongQuan'}" ng-if="vm.checkRole('ROLE_TONG_QUAN')">
    <md-button ng-href="/home"><i class="fa fa-home" aria-hidden="true"></i>Tổng quan</md-button>
  </li>
  <li class="parent-list-item" ng-class="{active : vm.activeMenu === 'QuanLyChienDich'}" ng-if="vm.checkRole('ROLE_QL_CHIEN_DICH')">
    <md-button ng-href="/chien-dich"><i class="fa fa-road" aria-hidden="true"></i>Quản lý chiến dịch</md-button>
  </li>
  <li class="parent-list-item" ng-class="{active : vm.activeMenu === 'QuanLyXe'}" ng-if="vm.checkRole('ROLE_QL_XE')">
    <md-button ng-href="/xe"><i class="fa fa-taxi" aria-hidden="true"></i>Quản lý xe</md-button>
  </li>
  <li class="parent-list-item" ng-class="{active : vm.activeMenu === 'QuanLyTaiXe'}" ng-if="vm.checkRole('ROLE_QL_TAI_XE')">
    <md-button ng-href="/tai-xe"><i class="fa fa-address-book" aria-hidden="true"></i>Quản lý tài xế </md-button>
  </li>
  <li class="parent-list-item" ng-class="{active : vm.activeMenu === 'QuanLyKhachHang'}" ng-if="vm.checkRole('ROLE_QL_KHACH_HANG')">
    <md-button ng-href="/khach-hang"><i class="fa fa-id-card-o" aria-hidden="true"></i>Quản lý khách hàng</md-button>
  </li>
  <li class="parent-list-item" ng-class="{active : vm.activeMenu === 'QuanLyYeuCauHinh'}" ng-if="vm.checkRole('ROLE_YEU_CAU_HINH')">
    <md-button ng-href="/images"><i class="fa fa-picture-o" aria-hidden="true"></i>Quản lý yêu cầu hình</md-button>
  </li>
  <li class="parent-list-item" ng-class="{active : vm.activeMenu === 'TaiKhoanNoiBo'}" ng-if="vm.checkRole('ROLE_QL_TAI_KHOAN_NOI_BO')">
    <md-button ng-href="/phan-quyen"><i class="fa fa-user-circle" aria-hidden="true"></i>Tài khoản nội bộ</md-button>
  </li>
  <li class="parent-list-item" ng-class="{active : vm.activeMenu === 'CauHinh'}" ng-if="vm.checkRole('ROLE_QL_CHIEN_DICH')">
      <md-button ng-href="/configuration"><i class="fa fa-cog" aria-hidden="true"></i>Cấu Hình</md-button>
    </li>
  <br>
  <li class="parent-list-item logout" ng-if="vm.isLogin">
    <md-button ng-href="#" ng-click="vm.logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>Đăng xuất</md-button>
  </li>
</ul>
