@import '~themes/app.variables.scss';
md-sidenav{
  width: 270px;
  md-content{
    background: $black04;

  }
}

#nav{
  padding: 0;
  overflow-x: hidden;
  li{
    width: 100%;
    a{
      color: rgba(255,255,255,0.5);
      width: 100%;
      text-align: left;
      padding: 10px 20px;
      margin: 0;
      font-size: 15px;
      text-transform: none;
      i{
        margin-right: 10px;
        width: 20px;
        line-height: 20px;
        text-align: center;
        font-size: 16px;
        -webkit-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
      }
      i.color-info{
        color: #00BCD4;
      }
      i.color-success{
        color: #8BC34A;
      }
      i.color-danger{
        color: #F44336;
      }
      &:hover{
        color: white;
      }
    }
  }
  li.active{
    background-color: rgba(236, 241, 238, 0.09);
    position: relative;
    &:before{
      content: '';
      background: #019245;
      width: 2px;
      position: absolute;
      left: 0;
      height: 100%;
    }
    a{
      color: white;
    }
  }
  li.nav-title{
    color: #666666;
    padding: 15px 0 0 20px;
  }
  li.nav-divider{
    margin: 10px 0 10px 15px;
    border-width: 1px;
    border-style: solid;
    border-color: #1b1f24;
  }
  li.li-small{
    a{
      padding: 3px 20px;
    }
  }
}
.nav-collapsed-min{
  #nav{
    padding: 0;
    li a{
      font-size: 0;
      i{
        padding: 12px 0;
        font-size: 22px;
        -webkit-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
      }
    }
    li.nav-title{
      display: none;
    }
  }
}
.logout{
  color: white;
}
