<div class="campaign">
    <div class="row">
      <div class="col-lg-7 clearfix">
        <h2 class="section-header">Cấu Hình</h2>
      </div>
      <div class="col-md-12">
        <div class="panel panel-default panel-minimal">
          <div class="panel-body">
            <h4 class="sub-head">Công thức tính lượt xem/km</h4>
            <div class="table-responsive">
              <table class="table table-responsive no-margin tb-adsgo table-hover table-striped">
                <thead class="table-head">
                <tr>
                  <th>Loại Quảng Cáo</th>
                  <th class="th-input">4 Chỗ</th>
                  <th class="th-input">7 Chỗ</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in vm.listViewArguments">
                    <td>{{item.tenLoaiQuangCao}}</td>
                    <td class="td-input">
                        <input class="cell-input" ng-model="vm.listViewArguments[$index].view4Cho">
                    </td>
                    <td class="td-input">
                        <input class="cell-input" ng-model="vm.listViewArguments[$index].view7Cho">
                    </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div>
                <label class="field-label">Khung Giờ: 19h-6h</label>
                <input ng-model="vm.generalArgs.views_19h_6h.giaTri" >
            </div>
            <h4 class="sub-head">Xe bất thường</h4>
            <div>
                <label class="field-label">Trong vòng </label>
                <input ng-model="vm.generalArgs.unnormal_car_days.giaTri" ng-value="0" >
                <label class="field-label">ngày chạy dưới </label>
                <input ng-model="vm.generalArgs.unnormal_car_km.giaTri" ng-value="0">
                <label class="field-label">km</label>
            </div>
            <h4 class="sub-head">Chiến dịch bất thường</h4>
            <div>
                <label class="field-label">Có trên </label>
                <input ng-model="vm.generalArgs.unnormal_campaign_days.giaTri" >
                <label class="field-label">xe bất thường</label>
            </div>
            <div class="submit-button" layout-wrap flex layout-align="end none">
                <md-button class="btn-update md-raised" ng-click="vm.updateConfig()">Cập Nhật</md-button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  