@import '~themes/app.variables.scss';
td a{
    text-decoration: none;
}
.car{
font-size: 1.1em;
font-weight: bold;
}
.car:hover{
color: $blue30;
}
.btn-update, .table-head {
  background-color: #2c9c52 !important;
  color: white !important;
}
.cell-input {
  width: 90%;
}
.th-input, .td-input {
  text-align: center;
}
.sub-head {
  margin: 20px 0px;
  padding: 15px 5px;
  background-color: #e2e2e2;
}
.field-label {
  margin-right: 5px;
}
.submit-button {
  margin-top: 20px;
}