<div id="course-category-admin">
  <div layout="column" flex>
    <!--<div layout="row" layout-align="start center" flex class="courses course-layout" ng-click="vm.setActive({})" ng-class="{'active': vm.viewAllActive, 'button-hover': !vm.viewAllActive}">
      <div class="left-margin">{{'course.category.all.label' | translate}}</div>
    </div>-->
    <div ng-repeat="opt in vm.courseTypeList">
      <div class="course-layout" ng-click="vm.setActive(opt)">
        <div layout="row" flex layout-align="start center" class="course-category-layout box-shadow-content" ng-class="{'active' : opt.isActive, 'button-hover': !opt.isActive}" >
          <img class="left-margin" ng-src="{{opt.posterUrl.fileUrl}}">
          <div flex class="course-category-name left-margin text-ellipsis-2">{{opt.name}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
