@import '~themes/app.variables.scss';

#course-category-admin {
  .courses {
    position: relative;
    background-color: $grayBreadcrumb;
    cursor: pointer;
    &.active {
      background-color: $red145;
      color: $white;
    }
  }
  .courses > div {
    z-index: 1;
  }
  .course-layout {
    height: $breadCrumbHeight;
    margin-bottom: 30px;
  }
  .course-category-layout {
    position: relative;
    background-color: $grayBreadcrumb;
    height: 100%;
    cursor: pointer;
    outline: none;
    .course-category-name {
      z-index: 1;
    }
    img {
      width: 30px;
      height: 30px;
      z-index: 1;
    }
    &.active {
      background-color: $red145;
      color: $white;
    }
  }

  @media screen and (max-device-width: 1920px) {
    .courses {
      font-size: $fontSize20;
    }
    .course-category-layout {
      .course-category-name {
        font-size: $fontSize20;
      }
    }
  }

  @media screen and (max-device-width: 1366px) {
    .courses {
      font-size: $fontSize16;
    }
    .course-category-layout {
      .course-category-name {
        font-size: $fontSize16;
      }
    }
  }

  @media screen and (max-device-width: 1280px) {
    .courses {
      font-size: $fontSize16;
    }
    .course-category-layout {
      .course-category-name {
        font-size: $fontSize16;
      }
    }
  }
}
