.slick-dots {
  bottom: 20px !important;
}

.slick-dots li button:before {
  font-size: 30px;
  line-height: 30px;
}

.slick-slide img {
  width: 100%;
  height: 100%;
  margin: auto;
}

.detail-item img {
  width: inherit;
  height: 400px;
}
 

 /*# sourceMappingURL= carousel.directive.css.map */