@import '~themes/app.variables.scss';

.custom-carousel {
  position: relative;
  height: $carouselHeight;
  .slick-dots {
    bottom: 182px;
  }
  .slick-dots li button:before {
    font-size: 55px;
  }
  .slick-slide img {
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .detail-item {
    background-color: black;
  }
  .detail-item img {
    width: inherit;
    opacity: 0.6;
  }
  .slick-dots li button {
    background: $white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }
  .slick-dots li button:before {
    content: normal;
    opacity: 0.25 !important;
  }
  .slick-dots li.slick-active button,
  .slick-dots li.slick-active:before {
    opacity: 1;
    background: $red145;
  }
  .slick-dots li button:hover, :focus :before {
    opacity: 1;
    background: $red145;
  }
  .text-carousel {
    position: absolute;
    z-index: 2;
    height: 200px;
    color: white;
    top: 0;
    width: 100%;
    margin-top: 12rem;
    .title-slider{
      font-family: adsgo-medium;
      bottom: 181px;
      position: absolute;
    }
    .description-title{
      font-size: 20px;
      color: $grayB7;
    }
  }
  .button-carousel {
    background: $red145;
    font-size: 15px;
    border: none;
    margin-left: -13px;
    padding: 14px 40px;
    letter-spacing: 0.2em;
    border-radius: 30px;
    font-weight: 700;
    text-transform: uppercase;
    &:hover {
      background-color: $red145;
      opacity: 0.9;
    }
  }
  .right-arrow, .left-arrow {
    z-index: 3;
    position: absolute;
    top: 17rem;
    font-size: 12rem;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    &:hover {
      &:before {
        opacity: 1;
      }
    }
    &:before {
      opacity: 0.5;
    }
  }
  .left-arrow {
    left: 15%;
  }
  .right-arrow {
    right: 15%;
  }
}

