<div class="custom-carousel" ng-if="vm.banners">
  <slick settings="vm.sliderCarousel" id="carousel">
    <div layout="row" class="detail-item" ng-repeat="banner in vm.banners">
      <img ng-src="{{banner.bannerInfo.source.fileUrl || banner.bannerInfo.defaultUrl.fileUrl}}"/>
    </div>
  </slick>
  <div layout="row" class="text-carousel">
    <div layout="column" flex="33" flex-offset="33" layout-align="center center">
      <h1 class="title-slider text-ellipsis">{{vm.currentSlide.name}}</h1>
      <h3 class="text-ellipsis description-title">{{vm.currentSlide.description}}</h3>
      <md-button class="button-carousel" ng-click="vm.carouselGoTo()">{{'carousel.viewDetail.btn.label' | translate}}</md-button>
    </div>
  </div>
</div>
