<div class="customer-add">
  <h3 class="section-header">
    Sửa thông tin khách hàng
  </h3>
  <form name="myForm" novalidate ng-submit="myForm.$valid && vm.editCustomer()">
    <input name="id" ng-model='vm.customer.id' ng-show="false">
    <div class="panel panel-defauld panel-minimal">
      <div class="pannel-body row panel-row">
        <div class="col-md-7">
          <md-input-container class="md-block">
            <label>Tên công ty đầy đủ</label>
            <input name="fullNameCompany" required minlength="3" md-maxlength="255" ng-model='vm.customer.tenCongTy'>
            <div ng-messages="myForm.fullNameCompany.$error">
              <div ng-message="required">Vui lòng nhập tên công ty!</div>
              <div ng-message="minlength">Tên tối thiểu 3 kí tự!</div>
              <div ng-message="md-maxlength">Tên không vượt quá 255 kí tự!</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Tên công ty viết tắt </label>
            <input name="nameCompany" required md-maxlength="255" ng-model='vm.customer.tenVietTat'> 
            <div ng-messages="myForm.nameCompany.$error">
              <div ng-message="required">Vui lòng nhập tên viết tắt!</div>
              <div ng-message="md-maxlength">Tên không vượt quá 255 kí tự!</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Điện thoại công ty</label>
            <input name="phoneCompany" type="number" required minlength="10" ng-model='vm.customer.sdt'>
            <div ng-messages="myForm.phoneCompany.$error">
              <div ng-message="required">Vui lòng nhập số điện thoại!</div>
              <div ng-message="minlength">Sđt tối thiểu 10 số!</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Email đăng nhập</label>
            <input name="email" required minlength="10" maxlength="100" type="email" ng-pattern="/^.+@.+\..+$/" ng-model='vm.customer.email'>
            <span class="user-note">* Mật khẩu sẽ được tự động tạo và gửi vào email cho khách hàng</span>
            <div ng-messages="myForm.email.$error">
              <div ng-message="required">Vui lòng nhập email!</div>
              <div ng-message="ng-pattern">Vui lòng nhập email đúng</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Mã số thuế</label>
            <input name="taxId" required ng-model='vm.customer.maSoThue'>
            <div ng-messages="myForm.taxId.$error">
              <div ng-message="required">Vui lòng nhập mã số thuế!</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Địa chỉ công ty</label>
            <input name="address" required minlength="3" md-maxlength="255" ng-model='vm.customer.diaChi'>
            <div ng-messages="myForm.address.$error">
              <div ng-message="required">Vui lòng nhập địa chỉ công ty!</div>
              <div ng-message="minlength">Địa chỉ tối thiểu 3 kí tự!</div>
              <div ng-message="md-maxlength">Địa chỉ không vượt quá 255 kí tự!</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Người liên hệ</label>
            <input name="contactPoint" required minlength="3" md-maxlength="255" ng-model='vm.customer.nguoiLienHe'>
            <div ng-messages="myForm.contactPoint.$error">
              <div ng-message="required">Vui lòng nhập người liên hệ!</div>
              <div ng-message="minlength">Tên tối thiểu 3 kí tự!</div>
              <div ng-message="md-maxlength">Tên không vượt quá 255 kí tự!</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Số điện thoại người liên hệ</label>
            <input name="phoneContactPoint" type="number" required minlength="10" ng-model='vm.customer.sdtNguoiLienHe'>
            <div ng-messages="myForm.phoneContactPoint.$error">
              <div ng-message="required">Vui lòng nhập sđt người liên hệ!</div>
              <div ng-message="minlength">Sđt tối thiểu 10 số!</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Chức vụ</label>
            <input name="position" ng-model='vm.customer.chucVu'>
          </md-input-container>
        </div>
        <div class="col-md-5">
          <upload position="Logo Thương Hiệu" source='{{vm.showImg}}' on-selected="vm.onChangeImage(image)" title="hinh_chien_dich"></upload>
        </div>
        <section class="col-md-12">
          <md-button class="md-raised" ng-click="vm.goCustomerView()">Hủy</md-button>
          <md-button class="md-raised md-primary" type="submit">Lưu</md-button>
        </section>
      </div>
    </div>
  </form>
</div>
